墨西哥警方说，他们逮捕了跟9月份43名学生失踪有关的伊瓜拉市的市长何塞·阿瓦尔卡。
英国央行行长马克·卡尼周四（12日）晚间暗示，英格兰银行的基准利率今年可能上调。
英国女王伊丽莎白二世的外孙女扎拉·廷道尔（Zara Tindall）周五（17日）生下一个重3.5公斤左右的女婴。
安倍晋三在日本首相这个位置上坐了很久，才让全世界开始认识他的面孔，知道如何读出他的名字。那么，我们需要全都学会如何读出菅义伟（Yoshihide Suga）几个字吗？这是个很难回答的问题。
广西玉林狗肉节举行期间，大约一万只狗被宰杀。对BBC记者刘林来说，狗肉节令她想起儿时在故乡长沙最伤痛的一段回忆。
好莱坞影星妮可·基德曼（Nicole Kidman，妮歌·洁曼）承认，当年她与汤姆·克鲁斯（Tom Cruise，汤·告鲁斯）的婚姻给了她“保护”，令她在演艺生涯初期免受性骚扰。
印度公布了一份国家公民登记册的最终版本，实际上剥夺了印度东北部、邻近中国的阿萨姆邦约190万人的公民身份。一旦被法庭宣布为外国人，将遭到关押。
英国王室成员安德鲁王子在接受BBC《新闻之夜》（Newsnight）独家采访时，解释他与已故的性侵犯罪嫌疑人、美国富豪杰弗里·爱泼斯坦（Jeffrey Epstein）的关系，并回应一位少女对他的性侵指控。此前亿万富豪、金融家杰弗里·爱泼斯坦（Jeffrey Epstein）在美国监狱内自杀，引发连串疑问。爱泼斯坦被指涉嫌性侵和贩卖未成年少女。
BBC在2018年情人节启动了孤独实验，来自全球各地的55,000人参与了这项调查，使其成为史上最大的一项针对孤独的研究。项目发起人克劳蒂亚·哈蒙德（Claudia Hammond）总结调查结果，并与三个人探讨了他们的孤独经历。
中国正在准备入侵台湾吗？这是一个在中国许多论坛上激烈讨论的问题，也应该是即将被选出的美国总统最大的地缘政治担忧之一。
新闻集团证实，该集团主席兼首席执行官默多克向法院提出和妻子邓文迪离婚。
去年，一幅埃德蒙·贝拉米（Edmond Belamy）的肖像以43.2万美元高价拍卖成交。一幅并不出名的人物肖像以如此高价售出，值得吗？
美国电脑软件公司微软宣布，公司总裁鲍尔默将在今后12个月内退休。
苹果（Apple）发布了最新型号的高端智能手机，采用了没有主屏幕按键（Home键）的全面屏。
经济合作与发展组织（OECD）大幅上调英国经济增长预测，将今年的经济增长率从0.8%提高到1.5%。
欧盟负责反恐的官员周五（26日）表示，从欧洲前往叙利亚和伊拉克参加伊斯兰战斗的人数已经超过了3000人。
哈里波特小说创作者罗琳（JK Rowling）同披露她化名写作的律师楼达成协议，接纳一笔数额巨大的赔偿作慈善捐款。
上周末在平壤上演的一场夸张的阅兵式展示了大量导弹。但是，朝鲜的导弹力量到底如何？BBC邀请防卫问题专家梅莉莎•哈纳姆（Melissa Hanham）作出详尽解释。
美国司法部长巴尔（William Barr）指责好莱坞及美国科技公司为维系在中国的业务，不惜与中国政府“合作”。
最近接连不断传出关于中国电讯巨头华为的消息，为中美领导刚达成贸易战停火协议带来疑问。最近的消息说，华为的首席财务官，华为创始人任正非的女儿孟晚舟在加拿大被捕，美国要求加拿大引渡孟晚舟。
几十年来，西班牙法西斯独裁政权领袖弗朗西斯科·佛朗哥将军（General Francisco Franco）埋葬的地点一直存在着较大争议。
朝鲜核计划成了国际社会一大头痛。各种努力一齐尝试，朝鲜还是搞了五次试爆。
最新全球大学排名前40名当中，伦敦有四所大学，是全球优秀大学最多的城市。
被指控制造2013年波士顿马拉松赛爆炸案的男子察尔纳耶夫被法庭裁定犯下所有他被控的30项罪行，其中不少罪名可判死刑。
瑞典和芬兰的科研人员说，人们常说的糖尿病实际是一种非常复杂的疾病，它可以分成5种不同的疾病。
周二（8月21日）的纽约和弗吉尼亚，两场针锋相对的法庭大戏对于大多数总统来说，即使未算致命，也会是沉重一击。而这还只是那一天里最重磅的两宗头条新闻，此外还有一系列的惨淡消息在等待着唐纳德·特朗普（Donald Trump）。
BBC北爱尔兰节目《Spotlight》近期委托进行的一项民意调查显示，北爱尔兰人和爱尔兰共和国的人民相信北爱在25年内会脱离英国。这项调查在爱尔兰和北爱尔兰的边境区域进行。
“我的父亲教育我，批评国王是罪过，也是禁忌，”19岁的达奈（Danai）说。
美国总统奥巴马周四（27日）向国会提出议案，终止国家安全局对美国公民的电话监听和搜集数据行动。
11月11日是一个一年一度的中国“双十一”网上购物节，数以千万计的中国网民将在24小时内进行疯狂购物行动。
为了追求精致的容貌和完美的身材，男性与女性一样“面临同样的压力”去整容。
英国住房慈善机构庇护所（Shelter）说，英国20多岁的年青人平均需要至少14年的积蓄才能攒够买房的首付金。
新冠疫情时期还能有性生活吗？会因性感染病毒吗？ 你或许在心里这么想过，但是却尴尬而不敢问。
苹果承认故意降低一些老款的iPhone机型的性能而遭到批评，苹果公司因此发表声明道歉。
美国商务部决定将对中国产太阳能板增收关税，美方称中国当局对生产商提供了不正当的补贴。
英国科学家称，他们研发的一种新药可以在一周之内杀灭胰腺癌细胞。
美国一名男子两次感染新冠病毒，其医生称，第二次感染情况更危险。
英国移民事务大臣将宣布，允许入英的外国学生数量将“无法维持”。
美国加利福尼亚死亡谷国家公园（Death Valley National Park）测得据信是地球上可靠记录的最高温度：54.4摄氏度（130华氏度）。
德国警方透露，东部城镇包岑的一座正在改建成移民收容所的酒店失火，有些旁观的路人竟然“欢呼叫好”。
据新华网周一（9号）消息，中国东北老工业基地辽宁省遇重污染。其中，省会沈阳市的空气质量为极重污染，遭最重雾霾。
调查确认，上个月悉尼警方营救一个咖啡厅被劫持的人质时，警方子弹的碎片打死了被劫持的人质卡特里娜·道森。
中国外交部长王毅星期三（6月10日）在伦敦发表谈话说，中国国家主席习近平今年10月对英国的国事访问将为中英两国关系的“黄金时代”拉开序幕。
包含两名俄罗斯间谍在内的四人因大规模偷窃雅虎（Yahoo）用户的帐户资料而被美国司法部起诉。
不同的消息渠道显示，英国前首相布莱尔（Tony Blair）将离开其目前代表美国、俄罗斯、联合国与欧盟的中东和平特使之职。
电子商网巨头亚马逊的总裁贝索斯同意以2.5亿美元的价格收购著名美国报纸《华盛顿邮报》。
新型冠状病毒疫情正在中国乃至全球范围蔓延，带来的经济代价也在增加，主要在中国，但也不仅限于中国。
社交网站脸书（Facebook）表示，该网站上月曾遭到黑客的精密攻击，但无证据显示用户的资料外泄。
英国科学家向使用验血方式预测阿尔茨海默症迈出了关键一步。
好莱坞著名制片人哈维‧韦恩斯坦（Harvey Weinstein）被揭发连串性丑闻，触发了#MeToo运动。在丑闻缠身之际，他曾经去过一所提供“性瘾”治疗服务的诊所。
法国当局说，据信策划了上周巴黎连环攻击的主谋阿巴伍德在周三警方在巴黎郊区发动的搜捕行动中被打死。
纽约大都会博物馆慈善晚会（Met Gala）是时装界的盛事，让各界名人展示他们品味，对我们来说，这个晚会就是看名人穿上各种特色衣服的机会。
德国联邦政府负责移民和难民的负责人弗兰克容根-维斯说，今年将有大约30万难民抵达德国。
诺玛‧麦考维（Norma McCorvey）是美国堕胎合法化历史中一个“不能忽略”的重要人物。
根据中国纪委国家监委网站周日（11月7日）发布的消息，国际刑警组织主席、 中国公安部副部长孟宏伟涉嫌违法，目前正接受国家监委监察调查。
欧洲刑警组织说，过去两年的移民潮中，可能有超过1万名儿童在抵达欧洲后下落不明。
俄罗斯总统普京说，乌克兰政府利用经济封锁来“切断”叛军控制的乌克兰东部地区。
英国首相卡梅伦在圣诞节前夕（12月24日）发表圣诞祝词，形容英国在2013年面对挑战，取得了“切实的进展”。
《星期日泰晤士报》2017年富豪排行榜新鲜出炉，全英最富1000人仍“处变不惊地疯狂增收”，似乎去年英国公投决定脱离欧盟的结果对超级富豪资产膨胀影响甚微。
在美国佛吉尼亚州，两名记者在一次电视直播的采访中被人开枪打死。
根据美国《华盛顿邮报》收集的数据显示，在美国被警察开枪打死的人数是官方数字的两倍。
据美国媒体报道，丑闻缠身的好莱坞著名制片人哈维·韦恩斯坦以及他的前电影公司董事会成员就韦恩斯坦被控性侵等不当行为一事，与指控他的多名女性达成初步和解协议。
中国消费者在星期三（11月11日）“光棍节”掀起网上购物狂潮，阿里巴巴公司声称全天交易额达到912.17亿人民币元，同比增长59.7%。
澳大利亚将对移民程序作出重大修改，提高入籍澳洲的门槛。
美国疾病防治与控制中心已证实寨卡病毒（Zika virus）可导致包括“小头症”（microcepaly）在内的严重的新生儿缺陷。
英国全英学联称，由于学生贷款和政府对贫困学生的资助金赶不上房租水电等费用的上涨，在英格兰的大学生面临生活费危机。
美国影星安吉丽娜·朱莉（Angelina Jolie）接受了卵巢和输卵管摘除手术，以预防罹患癌症。
瑞典斯德哥尔摩地区法院星期三晚些时候将决定是否取消针对维基解密（WikiLeaks）创办人阿桑奇（Julian Assange）的逮捕令。
国际信用评级机构穆迪投资者服务公司（Moody's Investors Service）周三（2号）将中国政府债券评级展望从“稳定”降级为“负面”。
苹果公司（Apple）承认，iPhone部分型号会随着时间，被刻意减慢运作速度。这证实了许多iPhone用户的怀疑。
美国和英国警方开始就好莱坞制片人哈维·韦恩斯坦（Harvey Weinstein）的性侵指控展开调查。
教皇方济各将设立一个委员会，专门打击罗马天主教会内性侵害儿童的行为，并为受害者提供帮助。
俄罗斯财政部长西卢阿诺夫星期一（11月24日）在一次国际金融和经济论坛会议上发表讲话说，油价下跌让俄罗斯在一年内损失了1000亿美元，西方制裁造成的损失达400亿美元。
世界卫生组织（WHO）在最新发表的报告中说，吃加工肉例如培根、香肠以及火腿的确可能增加患癌的风险。
伦敦大学学院的科学家们给家长提出忠告：房间里有电视的孩子比没电视的更容易发胖，而且特别是女孩子。
中国空军近日首次在南海争议岛礁区域进行轰炸机起降训练，引发周边国家对于国家安全的担忧和警告。
正在狱中等待接受性交易案审讯的美国金融家杰弗里·爱泼斯坦（Jeffrey Epstein）日前被发现死在囚室内，目前美国联邦调查局（FBI）已经正式展开调查。
饰演《加勒比海盗》系列影片主角的好莱坞影星约翰尼•德普（Johnny Depp）将要离婚。他的妻子，同为电影演员的艾梅柏•希尔德（Amber Heard）在洛杉矶向法庭提出离婚申请，理由是“无法调和的分歧”。
周二（12月4日）英国国家图书奖（National Book Awards）在伦敦揭晓，英国作家EL詹姆士的色情小说《格雷的五十道阴影》（Fifty Shades of Grey）被评为年度最佳热门小说。
新生们口袋里装着贷款准备上大学，关注点却是学校里最古怪的学生社团。
香港警方国安处本月初拘捕五十多名参加去年民主派初选的人士，这是香港《国安法》实施以来针对民主派最大规模抓捕行动， 被外界视为北京的又一举措打压民主派在香港的影响力。
比利时 “ 天堂动物园 ” 宣布，一对熊猫双胞胎在这家动物园诞生。
英格兰首席医疗官说，当地确诊第四人新冠病毒检测呈阳性。与此同时，《星期日泰晤士报》援引一位专家说，英国可能将面临比埃博拉更严重的疫情。
好莱坞知名制片人韦恩斯坦（Harvey Weinstein）性丑闻继续发酵。纽约检察官正在调查由韦恩斯坦共同创办的公司。
澳大利亚一名涉嫌策划炸弹袭击的17岁青年在少年法庭出庭聆讯，他被控策划恐怖袭击。
澳大利亚当局希望中国调查一名澳大利亚籍华裔作家在中国失踪的事件。
新型冠状病毒疫情影响全球生产和旅行之际，一些城市和地区的空气污染和温室气体排放水平显著下降。
德国家具店卓伯根家居连锁集团因为出售印有希特勒侧面像邮票的杯子公开道歉。
俄罗斯法庭日前以间谍罪判处美国前海军陆战队队员保罗•韦兰（Paul Whelan）16年监禁，美国媒体报道说这是总统普京扣押美国人质的报复行动。
美国和菲律宾正式开始为期十天的联合军事演习，总共动员两国军队共约5500人。
最新全球大学排名前40名当中，伦敦有四所大学，是全球优秀大学最多的城市。
一位中国的火箭技术科学家在两个超级大国的登月计划中发挥了作用，但是世界只记住了其中一个。卡维塔·普里（Kavita Puri）在下面讲述了这个故事。
英国国防部周五（20日）签署一项总值8.59亿英镑合同，承包商BAE系统公司将为皇家海军建造下一代护卫舰。按计划，该舰将于2020年后开始服役。
1960年代，一处伦敦公寓的壁炉上挂着一幅蒙娜丽莎的画。这幅画不仅是达芬奇（Leonardo da Vinci）的作品，也是巴黎卢浮宫博物馆悬挂的世界名画《蒙娜丽莎》的早期版本吗？
瑞典少女格蕾塔·桑伯格（Greta Thunberg）在全球唤起对气候变化的关注，倡导全球学生“为气候罢课”，早前获选本年度《时代》杂志风云人物。她的父亲接受BBC访问时说，他并不支持女儿走在抗击气候变化斗争的“前线”，也不支持她为参加社会运动而不上学。
英国研究人员周三（2月22日）发布的一份报告指，到2030年韩国女性平均有望达到90年来的新高，这一数字远远超过之前人类被认为可以达到的寿命。
马来西亚总理马哈蒂尔（Mahathir Mohamad）突然辞职，和两年前当选总理一样令世界大感意外。
在大漠深处，一个设有空调谷仓内，一头母牛踏上了一个制作精良的机械圆盘传送带，一个挤奶装置被连接到了它的乳房上。
一个星期过去，联合国安理会通过向朝鲜施加更多制裁。
英国议会下院周五（26日）下午就英国是否应该参加针对伊拉克境内的伊斯兰国激进分子的空袭行动举行投票表决。
英国公投决定脱离欧盟之后，世界领先的金融信用评级公司穆迪（Moody's）将英国的信用评级下调至“负面（negative）”。
日本联赛杯第二轮比赛通常不是什么国际性新闻，不过上个月甲级球队横滨FC和鸟栖砂岩对阵时，却在世界多个地方成为新闻。为什么？
5家银行因为试图操控外汇汇率而遭到英国和美国监管当局总计高达20亿英镑的罚款。
曼彻斯特竞技场怀疑自杀袭击事件发生后，英国警方已逮捕第七名犯罪嫌疑人，警方并称在调查爆炸案幕后的"网络"。
日本皇室成员真子公主（Princess Mako）将和一位平民结婚，她也将因此失去皇室地位。
虽然中国在努力遏制疫情的蔓延，新型冠状病毒危机的直接影响已经降临到我们身上。
新公布的档案显示，二战期间英国军情五处（MI5）一名卧底情报员成功监控英国的纳粹同情者的网络。
在《万物理论》中扮演霍金的雷德梅（Eddie Redmayne）和在《依然爱丽丝》里领衔主演的摩尔(Julianne Moore）分获 第87届奥斯卡最佳男女主角奖。
一项最新研究报告称，如果苏格兰独立，英国三叉戟核潜艇搬出苏格兰克莱德海军基地“极困难但并非不可能”。
中国公布11月份通胀率结束此前两个月的跌势，分析认为这证明贵为全球第二大经济体的中国，其经济真正开始走出谷底。
英国法官裁定，穆斯林妇女虽可穿戴遮住整张脸的黑色蒙面布（Niqab）出庭，但在提供证词时则必须摘下蒙面。
每一年，社交媒体上对中国玉林狗肉节的谴责与日俱长，然而今年这股“骂战”却在全世界流行了起来。人们的愤怒情绪会不会让吃狗肉在中国停止呢？
刚刚退下的中国国家主席胡锦涛看来不可能去写一部关于他在任上时的畅销书，刚卸任的总理温家宝估计也不会马上去做收费高昂的巡回演讲。
俄罗斯联邦安全局FSB说，已经拘捕了25名乌克兰人，这些人被指在上个月克里米亚举行公投期间策划恐怖攻击。
国际时装设计师卡尔·拉格菲尔德（Karl Lagerfeld）又一次语出惊人，令许多关注其言行的人结舌。
俄国说，已下令驱逐一名在莫斯科的美国外交官。俄国指这名美国外交官是间谍，企图为美国中央情报局收买俄情报官员。
瑞士警方在苏黎世逮捕7 名国际足联（FIFA）高级官员后，两项涉及腐败的刑事调查已经展开。
英国5月到7月的失业率下跌到7.7%，低于此前三个月的7.8%。
埃及一法庭判处一名女歌手入狱两年，因其穿着内衣出现在音乐视频中，并用充满性暗示的方式吃了一根香蕉。
美国航空母舰“卡尔文森号”（Carl Vinson）将历史性访问越南，这是上世纪越战结束后，首次有此规模的航母重返越南。
主管欧盟边防事务的部门说，最近几个月来到欧洲的非法移民人数大为增加。
伦敦市长鲍里斯·约翰逊说，英国离开欧盟对“我们大家都是双赢”。他敦促那些主张脱离欧盟的人士“坚持住，为自由而投票”。
一场政坛地震？在英格兰地方选举结果揭晓后，还有些人不太相信这个说法。
去年10月，39名越南人在英国艾塞克斯（Essex）郡被发现死于一辆货车中。根据越南官媒报导，越南政府昨日（9月15日）针对此案，将涉案的四人判刑入狱。
有那么一刻，弗农·昂斯沃思（Vernon Unsworth）几乎要哭了。他不说话，眼睛发红，深吸一口气，端起了茶杯。
大众汽车集团（Volkswagen）主席费迪南德·皮耶希（Ferdinand Piech）在与首席执行官马丁·文德恩（Martin Winterkorn）的一场权力斗争后宣布辞职。
中国海关总署数据显示，6月份中国进出口额分别出现明显下降，加剧有关中国经济发展遇阻的担忧。
新加坡高文（Kovan）附近的购物中心看上去有些冷清，似乎不太适合购买新鲜的鲑鱼、和牛。
叙利亚官员说，“伊斯兰国”武装分子摧毁了叙利亚古城帕尔米拉的一座极为重要的古寺庙。
英国宣布将在中东地区建立永久军事基地。这将是自1971年英国从中东地区正式撤军以来建立的第一个军事基地。
在俄国避难的爱德华·斯诺登的父亲已获俄国签证，将“很快”前去探望儿子。
年过花甲的长期左翼斗士，原墨西哥城市长奥夫拉多尔（Andrés Manuel López Obrador），历经十数载参选屡败屡战，终于在刚刚结束的墨西哥大选中修成正果，以超过53%的压倒优势胜出。他在支持者们欢呼雀跃中成为这个美国南邻数十年来第一位左翼总统。
英格兰银行行长马克·卡尼表示，英国的房地产市场正在全面复苏。
美国司法部宣布，以经济间谍罪起诉涉嫌窃取美国航空和航天公司商业机密的中国情报官员徐延军（Xu Yanjun，音译）。
你以为耳垢是讨人厌的恶心分泌物吗？研究人员说耳垢可能是探视你精神健康的一扇窗口。
科学家相信，2013年中国华东地区持续一个月的严重雾霾，与北极海域头一年的冻冰融化状况有关。
BBC获悉的一项中国高级别研究显示，中国将新疆数十万维吾尔人和其他少数民族转移到离家很远的地方工作，该政策导致了他们人口密度的减少。
所有从英国起飞或飞入英国的乘客都被告知，必须把全部携带的电子设备放在手提行李中，并且充足了电，以备开机检查。
英国中学的GCSE考试将面临重大变革，减少成绩的分级制度。
哈里王子首次透露，在近20年闭口不谈戴安娜王妃之死后，他近年终于寻求心理治疗帮助应对悲痛。
法国“蔚蓝海岸”度假胜地戛纳，一名男子持械偷走价值大约四千万欧元（5300万美元）的珠宝。
西班牙的小镇阿尔马索拉，下了半旗，并宣布开始为期三天的哀悼，纪念去世的卡琳娜（Carina）。
土耳其官员说，一名女性自杀炸弹攻击者在土耳其伊斯坦布尔引爆炸弹，炸死了一名警察，另外一名警察受伤。
汇丰银行的一位交易员说：“我几次碰上发催泪弹，但还从来没有在我办公室外碰上，当时我出门去吃午餐。”
联合国称，朝鲜每五个人当中就有两个营养不良，而全国人口有70%须依赖粮食救援。
乔治·克鲁尼（George Clooney）无疑是好莱坞最成功的演员之一。但直到他跟艾玛·阿拉慕丁（Amal Alamuddin）结婚后，才突然与自己的另外一半共同拼凑起了另外一重身份——也就是所谓的"双职工夫妻"。阿拉慕丁是一名律师，她擅长国际法和人权官司，曾经担任过维基解密创始人朱利安·阿桑奇（Julian Assange）等著名客户的代理人。
巴拿马下令释放6个月前被该国扣留的一艘朝鲜货船的32名船员。
经济合作与发展组织（OECD）发布报告表示，在该组织各成员国社会中贫富差距不断扩大。
流亡西藏精神领袖达赖喇嘛说，他希望下月中国最高领导人更替后能够对西藏有新政策。
在英国伍利奇（Woolwich）发生伊斯兰极端主义分子当街砍死一名英国士兵之际，奎利恩基金会（Quilliam Foundation）的研究员乌萨马·哈桑（Usama Hasan）试图回答一个问题：极端伊斯兰分子的信仰究竟是什么？
英国大学校长们集体呼吁政府改变现行的签证制度，恢复深受海外学生欢迎的PSW（Post study work）签证，允许来英国留学的海外学生在毕业后能滞留两年寻找工作机会。
在朝鲜战争（韩战）爆发70周年之际，韩国男子音乐组合BTS（防弹少年团）一名成员的发言，让这个在全世界都颇具影响力的团体在中国深陷漩涡。
一名司机被控与集装箱案39人死亡有关。英国检察官指认他是人口走私“全球链条”中的一环。
去年女王登基60周年大庆之前出现在伦敦街头的班克斯（Banksy）壁画神秘消失，现在却在美国的一个拍卖网站上露面。
中国发改委星期三（8月20日）宣布对12家存在价格垄断行为的日本汽车配件生产商合计罚款12.4亿元人民币；其中日立和不二越主动配合调查，被免除处罚。
法国电力公司（EDF）的一位董事会成员说，他将对英国欣克利角核电站计划投反对票。
10年前的这一周，北京奥运会通过电视屏幕传播到全球。
英国首相卡梅伦在圣诞节前夕（12月24日）发表圣诞祝词，形容英国在2013年面对挑战，取得了“切实的进展”。
美国国务卿约翰·克里表示，在气候变化问题上的不作为所带来的代价将是“灾难性的”。
美国媒体说，美国当局拦截了基地组织两名高级成员的对话通讯之后，才决定在星期日关闭位于北非、中东地区的部分使领馆。
美国著名歌星兼影星惠特尼·休斯顿在洛杉矶去世，享年48岁。
哈里王子首次透露，在近20年闭口不谈戴安娜王妃之死后，他近年终于寻求心理治疗帮助应对悲痛。
英国皇家空军首次执行了空袭伊斯兰国激进武装的行动，目标是伊拉克境内的一个“重武器阵地”和一辆有武装押运的卡车。
为预防患乳腺癌，名震英美影坛的好莱坞影星安吉利娜·朱莉（Angelina Jolie)接受了双乳切除手术。
3名半岛电视台的记者在埃及开罗出庭受审，审讯引起国际对埃及言论自由的严重关切。
英国内政大臣特蕾萨·梅据报计划修改新移民加入英国籍的入籍考试内容。
“伊斯兰国”（IS）极端组织武装分子星期五（10月3日）公布的一份录像显示，英国人质亨宁（Alan Henning）遭武装分子斩首。
不管是华盛顿还是北京，都希望能在看得见的将来有一个帮助解决美中贸易战的协议；然而，两个超级大国之间的这场对抗所涉及的远不止贸易，还包括了经济、国防、文化和科技等多个领域。
两家美国互联网巨头谷歌和脸书分别承认，它们是美国司法部早前公布的一件骗案的受害人，涉款达一亿美元（7700万英镑）。
英国涂鸦艺术家班克斯（Banksy）又有新作品，吸引许多人在诺丁汉（Nottingham）市中心街头排队争睹他的创作。
法国婴儿配方奶粉生产商拉克塔利斯(Lactalis)集团，已下令进行全球产品召回，因担心部分产品被沙门氏菌感染。
中国公布2012年全年经济数据优于市场预期，这使人们憧憬世界第二大经济体能恢复增长。
谷歌的自动驾驶汽车公司Waymo将在本月晚些时候对自己的自动驾驶小货车进行首次公路试车。
英国海外发展研究所（ODI）说，自1980年以来，发展中国家的肥胖人口飙升近四倍，已经接近10亿。
英国科学家向使用验血方式预测阿尔茨海默症迈出了关键一步。
在光明乐观的愿景中，未来我们将生活在“智能城市”：无人驾驶汽车在智能电网上充好电后，会核对最佳路线。
英国上诉法庭7月16日判决，沙米玛·贝古姆应获准重返英国，挑战政府撤销她英国国籍的决定。
北京一个寒冷的早晨， 一段原本平淡无奇的 通惠河 城区河道旁 ，一个孤独的身影在雪地里书写着巨大的汉字。
英国国民保健服务NHS说，一项新的基因工程将有助于揭开一系列重大疾病的发病秘密。
古巴前总统菲德尔·卡斯特罗9个月来首次在公开场合露面。
维基解密创始人阿桑奇(Julian Assange)在厄瓜多尔使馆被捕，之前阿桑奇在伦敦的厄瓜多尔使馆避难长达7年。
近日，孟加拉女孩努斯拉特·贾汉·拉菲（Nusrat Jahan Rafi）在学校被浇上煤油活活烧死。而不到两周前，她曾指控校长性骚扰。
最新的一份报告称，HS2高速列车网项目能够使英国经济每年增加150亿英镑。
1918年西班牙流感大流行，至今仍有人称之为“史上最惨烈的病毒大屠杀”，全球死亡人数5000万。
300年前被英国船舰击沉的西班牙船“圣荷西号”，再有新研究结果公布。
007影星丹尼尔•克雷格（Daniel Craig）有一个心愿：只要有可能，他希望能把英国传奇特工詹姆士·邦德这个角色一直演下去。
英国摇滚乐坛传奇人物约翰·列侬（John Lennon）和他的妻子最知名的物品之一在佳士得拍卖行以将近10万英镑的价格出手。
一个美国陪审团下令科技巨头苹果支付威斯康星麦迪逊大学2.34亿美元的专利侵权赔偿费。
中国海关总署公布，8月份以人民币计价的进口总额8361亿元，跌14.3%；出口总额1.2万亿元，下降6.1%。
官方数据显示，申请上大学的英国学生人数连续第二年下降。
白金汉宫宣布，英国女王伊丽莎白二世与丈夫菲利普亲王将对法国进行为期3天的国事访问。
美国一个独立调查发现，为苹果生产iPhone和iPad的中国工厂内存在虐待劳工现象。
推特近日删除了中国驻美国大使馆的一篇帖子，该帖子称维吾尔族妇女因新疆政策“解放”了自己的思想。
新加坡第三大贷款银行——大华银行（UOB）表示，已暂停向伦敦房地产提供贷款。
8月15日迎来第二次世界大战结束70周年，世界各国举行仪式，纪念1945年日本向盟军无条件投降。
美中关系跌至冰点之际，华盛顿开始对离开美国的中国留学生进行出境检查，以此打击中国对美国的技术盗窃行为。
周四（2月23日）英国多家媒体头版报道了伦敦都会警察局新任命的女局长克丽丝达·狄克。她是伦敦警察局188年来第一位女长官。
伊斯兰国公布了一些照片，显示其武装分子砸毁它称之是从叙利亚古迹帕尔米拉抢来的文物。
美国奥运体操队的前队医拉里·纳萨尔（Larry Nassar）就七项性侵妇女和女孩的指控认罪。
英格兰银行行长马克·卡尼表示，英国的房地产市场正在全面复苏。
纽约大都会博物馆慈善晚会（Met Gala）是时装界的盛事，让各界名人展示他们品味，对我们来说，这个晚会就是看名人穿上各种特色衣服的机会。
奥斯卡影帝凯文·斯派西（Kevin Spacey）日前正式被起诉，涉嫌2016年在马萨诸塞州（Massachusetts，又译麻萨诸塞州）性侵犯一名少年，明年1月提堂。
BBC获悉，突尼斯度假胜地苏塞海滨枪击案38名死难者中至少30人是英国人。
中国当局宣布对三位与前中共政治局常委周永康关系密切的高官以涉嫌腐败罪立案侦查。
所有从英国起飞或飞入英国的乘客都被告知，必须把全部携带的电子设备放在手提行李中，并且充足了电，以备开机检查。
古巴前领导人菲德尔·卡斯特罗表示，他之所以决定下台并将权力移交给其弟弟劳尔·卡斯特罗，是因为他本人在2006年被确诊患上了绝症。
最新数据显示，英国通胀率上个月跌到一年来最低点。
中美洲尼加拉瓜总统丹尼尔‧奥尔特加（Daniel Ortega）当地时间星期二（1月10日）在马那瓜宣誓就职，第三次连任。第一夫人罗萨里奥‧穆里略首度搭档参选，夫妻同时当选并就任正副总统，此前并无先例。
埃及法庭维持对183名穆斯林兄弟会支持者的死刑判决，他们被指参与了2013年在开罗附近攻击警察局。
叙利亚再出现怀疑化学武器攻击，调查正在进行，与此同时网上则出现一群影响力巨大的活动人士，着力传播事件的另一版本。
日本东京2020夏季奥运会组织委员会宣布，因涉嫌有剽窃现象而废置现有会标设计图案。
法国总统马克龙（Emmanuel Macron）早前接受英国传媒访问时批评，中国在抗击新冠肺炎疫情时有所隐瞒，又说外界称赞中国处理疫情手法有进步的说法是“天真”。
在好莱坞影星朱莉宣布为了防患未然做了双乳切除手术后不到两周，她的小姨因乳腺癌去世。
英国皇家铸币厂将推出纪念乔治王子洗礼的系列金币，价值从13英镑至数万英镑不等。
瑞典斯德哥尔摩地区法院周三（16日）举行听证会后作出裁决，维持对涉嫌犯下性侵犯和强奸罪的维基解密（WikiLeaks）创办人阿桑奇（Julian Assange）的逮捕令。
英国女王伊丽莎白二世的外孙女扎拉·廷道尔（Zara Tindall）周五（17日）生下一个重3.5公斤左右的女婴。
英国影星丹尼尔·克雷格（Daniel Graig）盛赞最新007邦德系列片《天降杀机》（Skyfall）的伦敦首映式是他出演邦德片以来最好的一次。
伦敦动物学会最新发布的生命地球指数显示，全球野生动物数量自1970年以来已锐减58%。
美国宣布对中国电信公司华为实施新限制，进一步打击其半导体芯片供应。
日本经典动画片《龙猫》诞生30年之后，其修复版终于在中国大陆的电影院上映。
马来西亚警方说，将会向前首相马哈蒂尔要求，就其最近在反政府示威行动中作出的指称提供笔录。
斯里兰卡炸弹袭击已经造成321人死亡，500人受伤。该国总理表示，袭击可能与所谓“伊斯兰国”（IS）有关。
美国政府发表声明说，政府将要求法庭判处参与制造波士顿马拉松赛爆炸案的犯罪嫌疑人焦哈尔·特萨尔纳伊夫死刑。
埃及目前的局势如此地似曾相识。2011年2月，执政了30年的穆巴拉克在民众抗议中被迫下台。
世界卫生组织（WHO）已经否决了今夏的里约奥运会应该因寨卡疫情而延期或易地举办的建议。
震惊世界的瑞典女记者金·沃尔谋杀案周三（4月25日）宣判。嫌疑人丹麦发明家彼得•马德森（Peter Madsen）被判无期徒刑，不得假释。
中国外交部对《纽约时报》有关中国总理温家宝的家人聚敛财富的报道作出回应，指责这项报道抹黑中国。
伴随以美国为主的贸易战不断发展，有一些公司已经感觉到疼痛。
由英国保守党议员组成的一个小组表示，新冠病毒危机结束后，英国需要更好地了解中国的经济野心和全球角色。
瑞典一名年迈母亲涉嫌把自己的儿子禁闭在自家公寓中长达约30年而被警方逮捕。
美国中央情报局在新解密的有关U-2侦察机文件中正式承认在内华达州沙漠中一处秘密试验基地的存在。
旅游指南《孤独星球》 （Lonely Planet） 把英格兰评为世界第二位最佳旅游 地区和 国家。以下是他们评选的五大原因。
英国将向叙利亚难民提供一亿英镑援助，帮助应付发生内战引发的人道主义危机。
马来西亚航空发表声明说，由于最近两次空难，今年财务赤字有可能进一步扩大。
美国警方确认，被指枪杀弗吉尼亚州WDBJ7电视台两名记者的男子是韦斯特·李·弗拉纳根（Vester Lee Flanagan），他是被害者电视台的前雇员。
美国国会通过法案，将对违反抗议者权利的委内瑞拉官员实施制裁。
在光明乐观的愿景中，未来我们将生活在“智能城市”：无人驾驶汽车在智能电网上充好电后，会核对最佳路线。
一项调查发现，新型冠状病毒疫情对于已有精神健康问题的年轻人来说，是有重大影响的。除了对身体健康的担忧之外，日常程序被打乱，学校关闭和考试取消等等全都是相关因素。
石油输出国组织欧佩克表示，不会为保国际原油价格而削减石油产量。
华纳电影公司透露，《哈里·波特》作者JK·罗琳将首次尝试为《哈里·波特》衍生故事编写电影剧本。
墨西哥新当选总统奥夫拉多尔（Andrés Manuel López Obrador）计划在12月上任时将把自己总统工资降低60%。
中国西南广西省的年度玉林“狗肉节”如期进行，再度引发保护动物活动人士的强烈反对之声。
没有破门而入的迹象，没有人被绑架。没有玻璃被打碎。但这家位于上海郊区的工厂却因为知识产权盗窃遭受损失。
英国首相卡梅伦在接受BBC采访时说，英国政府距离建立一个英格兰议会的计划“并不遥远”。
刚成为日本历史上连续执政时间最长首相的安倍晋三宣布因健康原因辞职。
巴塞罗那球星梅西和父亲豪尔赫因涉嫌偷税达400万欧元，被西班牙当地检察院起诉，目前案件正在进一步审理过程中。
以“散播虚假消息”罪名被埃及法庭定罪的三名半岛电视台记者被判处三年有期徒刑。
最近，英国和美国出现了与新冠病毒有关的罕见儿童炎症综合症病例，引起医学界关注。
2015年有3名15岁仍在学校就读的东伦敦少女离开英国投奔“伊斯兰国”，当时引起极大关注，现在其中一人表示想要回英国。 不过，内政大臣表示，他会“阻止”那些曾经在海外支持恐怖组织的人士回国。
英国科学家警告，如果不做好防疫措施，今年冬天爆发第二波感染的话，可能会有12万人死于新冠病毒疾病。
一名马里移民近日在法国成为了英雄人物，他徒手攀登上了四层楼高的公寓，救下了一名悬在阳台外的男童。他的英勇行为受到法国总统表彰，并因此获得法国国籍。
英国埃塞克斯郡警方宣布，就目前的调查结果来看，他们相信埃塞克斯郡集装箱藏尸案中的39名遇难者全部为越南公民。
英格兰银行行长马克·卡尼说，在失业率下跌到7%之前，英格兰银行不考虑提高利率。
美国候任总统特朗普（台湾称川普）表示，应该取消空军一号的新飞机订单，以减少政府开支。
苹果公司正式在加州总部推出两款最新手机：高端iPhone 5S和“廉价版”iPhone 5C。
毫无疑问，朝鲜一直用非常粗暴的方式对待囚犯。
一年一度的BBC“巾帼百名”系列节目每年在全球范围内选择100名最具影响力、最具启发力的女性，并分享她们的故事。
一些幸存者告诉BBC说，翻船使得数百名移民在穿越地中海时被淹死。这一数字至今并未得到官方确认。
中国的天宫一号太空舱现在失联失控，估计明年陨落地球，但不会落到许多其他太空飞行器寿终正寝的那个偏远地方。
伦敦女作家艾利卡·L·詹姆斯（EL James）的50道阴影（Fifty Shades）情色三部曲销量连续两个月攀升之后开始回落。
新加坡一个劳工人权组织表示，过去九个月中，新加坡几乎有一半的外籍劳工感染新冠病毒。该组织称，对此“不感到意外”。
英国外交大臣亨特在近日谈及香港民众抗议事件时警告中国不要压制香港民主，并表示否则将有“严重后果”。此言一出立即引发连锁反应，也引起各界的好奇心。
日本早前有铁路公司因为比预定时间提早20秒发车“郑重道歉”，其他地方的网民都看得傻眼：相比起其他地方的铁路服务，20秒的差别并不算是一回事。
英国科学家得到有关监管部门的批准，将对人类胚胎进行基因改造工程研究。
瑞典籍独立女记者金·沃尔（Kim Wall）在8月10日晚上失踪。原先否认将她分尸的发明家彼得•马德森（Peter Madsen）再次改变说词。
英格兰银行行长马克·卡尼说，英国经济复苏已经“稳固”，失业率回落将超过预测。
虽然在东京有抗议反对的声音，但日本下议院表决通过了两项将会改变日本安保法律的争议性法案，这些修改将允许日本军队自二战结束以来首次在海外参与战斗。
坦桑尼亚最大城市达累斯萨拉姆一所法院经过三年多审理，裁定有“象牙女王”之称的中国女商人杨凤兰走私等罪成立，判处有期徒刑15年，充公个人全部财产。
英国国家统计局的数字显示，截至到三月，英国净移民数为327000人，仍接近336000人的历史最高纪录。
最新的一份报告称，HS2高速列车网项目能够使英国经济每年增加150亿英镑。
一份报告指出，尽管保护措施不断，澳大利亚著名的自然景观大堡礁的生态前景未来几年仍会恶化。
根据BBC获得的一份内部文件显示，总部位于英国芯片设计公司ARM已经要求其员工必须中止与中国科技公司华为合作。
英国工党领导人科尔宾（Jeremy Corbyn）写信给工党议员说他不能支持英国针对在叙利亚的所谓伊斯兰国的空袭。
美国制F-35隐形战机，首度用于实战，以色列空军近日在叙利亚境内将其投入使用。
最早识别出人类冠状病毒的人是一位女性，英国病毒学家、病毒成像专家琼·阿尔梅达（June Almeida）。她出生于苏格兰，父亲是当地一位巴士司机，她16岁中学毕业后即开始打工谋生。
美国电脑巨头微软星期二（9月3日）宣布将以54.4亿欧元（72亿美元）价格收购诺基亚手机业务部门。
菲律宾总统杜特尔特向BBC证实，他担任达沃市市长期间曾亲手杀死三名嫌犯。
新加坡建国总理李光耀以其远见和极端实用主义的手法，把新加坡从一个一无所有的小岛变成了一个活跃成功的经济体。
马来西亚航空公司宣布，作为公司重整计划的一部分，马航将完全国有化，同时裁员六千人。
向维基解密泄密的美军士兵布拉德利·曼宁（Bradley Manning）8月22日发表声明称不愿再当男儿，希望成为一名女性，。
在美国访问的日本首相安倍周二将在华盛顿会见美国总统奥巴马。安倍访美议程中跨太平洋合作伙伴关系和日美防务合作的内容备受关注。
数十年来，印度将一些西藏难民招入一个秘密部队，专门用于高海拔作战。最近，该部队一名士兵的死亡令这支部队成为了关注的焦点。这是BBC记者艾米尔·皮尔扎达（Aamir Peerzada）的报道。
社交网站Facebook（又称“脸书”）公布了多国政府今年上半年索取用户信息的数据。
英国主要连锁超市之一的特易购（Tesco）公布的数据显示，今年上半年它经销的食物中有近3万吨被扔进垃圾桶。
全球连锁餐厅麦当劳将开始减少在其鸡肉产品中使用抗生素。
韩国官员说，攻击韩国多家主要电视台和银行的黑客互联网IP地址源自中国，但黑客身份无法核实。
伊朗总统鲁哈尼在法国访问期间，称伊朗和法国的关系进入“新篇章”。
中国一度热得烫手的科技产业正在降温。
埃及保安部队人员进入开罗市中心的法特赫清真寺，游说据守寺内一夜的数百名穆斯林兄弟会支持者离开，现场气氛紧张。
星期四（7月14日）法国国庆日，一辆大货车在法国南部城市尼斯冲向人群，造成大量人员伤亡。
调查显示，过去10年来，英国大学生对上大学的各方面体验满意度越来越高。
美国向国际太空站运送补给物资的无人驾驶运载火箭在弗吉尼亚发射升空后爆炸。
在发动了导致萨达姆·侯赛因被推翻的入侵战争近九年之后，最后一批美军撤离伊拉克。
英国国家统计局发布的数字显示，2016年英国接收的净移民人数大约在24.8万，比前一年下降了8.4万。
席卷全美的反种族歧视示威引发全球热议，但来自中国的关注非同一般。
英国财政大臣乔治·奥斯本宣布系列措施，要使伦敦成为中国在海外金融业务的主要中心。
美国政府禁止了Intel等公司向中国出售用于超级电脑升级系统的新一代芯片。
英国王室首度发布了剑桥公爵和公爵夫人怀抱新生小王子乔治的照片。
英国工党候选人萨迪克·汗（Sadiq Khan）当选国际大都市伦敦新市长。
沙特正在发生的是大事。王子、大臣，还有顶级富商们纷纷落马被捕，被关押在一个豪华酒店，受到腐败指控，他们的私人飞机被禁飞，资产被冻结。
尼泊尔珠峰大本营的登山者和当地政府透露，越来越多的登山者出现新冠症状，而且新冠病毒测试呈阳性的人数也在增加。BBC国际台环境事务记者纳文·辛格·卡达（ Navin Singh Khadka）报道称，这引发外界对该地区爆发严重疫情的担忧。
那些哈利·波特书迷将有机会拥有没有重量的七本哈利·波特系列小说。今年10月，将首次发行该系列小说的电子版本e-book。
去年，一幅埃德蒙·贝拉米（Edmond Belamy）的肖像以43.2万美元高价拍卖成交。一幅并不出名的人物肖像以如此高价售出，值得吗？
泰国王室发布声明称，泰国国王已经与他的私人安保主管结婚，并授予她王后的头衔。
马来西亚92岁的政治家马哈蒂尔在本周的大选中获胜，再次成为马来西亚首相，成为该国历史上最年迈的总理，也是现在世界上最高龄的国家和政府领导人。
日本汽车制造商丰田汽车公司宣布，将在全球范围召回约640万辆汽车。
苏苏格兰独立公投今天（9月18日）进入一年倒计时，苏格兰议会今天将就独立展开辩论。
苹果公司推出新的平板电脑iPad Air 2，并且形容这是同类产品中最薄的一款。
俄罗斯，乌克兰，法国和德国领导人准备就乌克兰局势举行和谈之际，乌克兰东部有20多人死于暴力。
国际货币基金组织（IMF）批准了对乌克兰一项总额170亿美元的资金救助，以帮助乌克兰经济恢复稳定。
吉尔吉斯斯坦总统女儿穿着内衣哺母乳的照片，引发各方有关喂母乳及性欲化的讨论。
美国司法部对一名前Zoom公司的员工提出起诉，罪名是协助中国政府破坏一系列和六四周年有关的视频会议。
特朗普（Donald Trump）与中国在台湾问题上的争议让人再一次注意到他应对北京的战斗作风。
为了追求精致的容貌和完美的身材，男性与女性一样“面临同样的压力”去整容。
一项在纪念莎士比亚诞辰450周年之际发表的国际调查指出，威廉•莎士比亚（William Shakespeare）是英国最伟大的文化象征。
英国中学的GCSE考试将面临重大变革，减少成绩的分级制度。
最新研究发现，中国政府将维族儿童与家人分隔；他们远离民族信仰和母语教育。
加拿大与英美等国争夺国际学生的人才和钱包。但一旦他们到了枫叶国会怎么样呢？
一项研究显示，维他命D补充剂可以帮助心脏病人改善病情。
本周，中国电子商务巨头阿里巴巴将在美国纽约上市（IPO）。这或许是美国历史上最大的一次IPO，已开始就让国际投资者翘首以盼。
美国总统特朗普在特习会第二天，也就是最后一天说，在同中国领导人习近平会谈中取得了“很大进展。
中国经济正在放缓，会不会牵连其他经济呢？
英国第一个少数族裔内阁大臣，文化大臣贾维德（Sajid Javid）说，移民必须学英语，并“尊重我们的生活方式”。
数名诺贝尔和平奖得主将抵制10月中旬在南非开普敦举行的和平大会，因为西藏流亡精神领袖达赖喇嘛未获南非签证，取消了赴会行程。
qwerty（快蹄）键盘，要打QWERTY这几个字母还真不容易。
对于一只小鸟来说，这几天可是个大日子。
伊斯兰国公布的一段视频显示，被激进组织扣押的人质——美国记者斯蒂文·索特洛夫被斩首。
尼日尔逮捕了127名试图穿越撒哈拉沙漠前往阿尔及利亚的移民。
英国驻美国大使星期天（24日）称，英国已经快要找到斩首美国记者福莱的英国圣战者的身份。
多家香港媒体及中国官方媒体报道，香港警方正通缉6名涉嫌违反香港《国安法》的海外港人。
克里姆林宫表示，俄罗斯研发远程核武鱼雷系统——“斯塔图斯-6”的绝密计划不应当出现在俄罗斯电视新闻画面中。
调查显示，过去10年来，英国大学生对上大学的各方面体验满意度越来越高。
法国警方说，戛纳一家酒店价值超过百万美元的珠宝被盗。
叙利亚官员表示，伊斯兰国武装（IS）炸毁了帕尔米拉古城的三座塔墓。
人类大脑是世界上已知的最先进和复杂的器官，虽然数百年来人们试图研究和揭开人脑之谜，但我们对它的了解仍然有限。
在英国通过公投决定退出欧盟后，信用评级机构“标准普尔”下调了英国原有的AAA最高信用等级。
美国联邦监管机构和超过45个州的检察官起诉社交媒体巨头脸书（Facebook），指控其采取非法手段收购对手扼杀竞争。
乌克兰安全局表示，该机构上个月逮捕的一名法国人计划在2016欧洲杯足球赛期间发动攻击。
英国国家网络安全中心发布报告强烈批评中国科技巨头华为设备的安全性。
在虚拟货币比特币（Bitcoin）的交易报价近日大幅反弹之后，中国国内一些知名交易平台公布不再提供支付服务和禁售。
英国希思罗机场（Heathrow Airport）有限的运营能力束缚了英国的经济潜力。
安吉丽娜·朱莉（Angelina Jolie，安祖莲娜·祖莉）日前表示，在塑造年轻女性的人格这件事上，男性也应该承担责任。
在最近发布的最受儿童欢迎书籍排名榜中，英国著名作家JK罗琳的《哈利波特》系列小说名列前茅。
本周四（8月27日），奥地利警方在临近匈牙利边境的高速公路边的一辆货车上发现了71具非法移民尸体，其中包括多名妇女和儿童。
过去近200年以来，全球预期寿命一直在持续且快速地增长。
在菲律宾遭受到超强台风“海燕”的灾情之后，总统阿基诺11日晚宣布全国进入“灾难状态”以加快救援工作。
中国海关总署10日公布中国6月份出口同比增7.2%，增幅大于5月的7%，但不如市场预期的10%；进口增长5.5%，稍高于市场预期的5.4%，5月萎缩1.6%。
在新冠疫情对各项体育赛事造成持续影响之下，英格兰足球超级联赛宣布，已立即终止与中国版权合作商的5.64亿英镑转播合同。
有着狭窄巷弄、窄小的单间屋，路边摊食物气味扑鼻的上海老城区，在新经济发展的洪流之中渐渐流失，但留存下来的，已足矣维持旧日小区生气勃勃的氛围。
英国歌星艾尔顿·约翰爵士（Sir Elton John）在美国拉斯维加斯患呼吸道感染，取消三场演唱会之后，现已无恙。
有报道指美国国务院外交电报显示，美国使馆官员对武汉病毒研究所的生化安全存有疑虑。
漫威影业（Marvel Studios）著名超级英雄系列电影《黑豹》（Black Panther）的男演员查德维克·博斯曼（Chadwick Boseman）因患结肠癌去世，终年43岁。
一项最新研究报告称，如果苏格兰独立，英国三叉戟核潜艇搬出苏格兰克莱德海军基地“极困难但并非不可能”。
今年是英国戴安娜王妃逝世20周年，她的儿子剑桥公爵威廉王子和哈里王子将为她竖立雕像。
中国电信设备制造商华为宣布扩充在英国运作规模，新增投资13亿英镑。
美国总统特朗普（Donald Trump）宣布，由联邦政府发出的保持社交距离等关于新冠病毒指导政策的有效期将在美国全境延长至4月30日。
一尊76厘米高的石灰岩古埃及雕像周四（10日）在伦敦佳士得以1576万英镑拍卖成交。
瑞典一家法庭拒绝了“维基解密”创始人阿桑奇（Julian Assange）的上诉。
中国作为世界第二大经济体，不但是20国集团（G20）中成长最快速的成员，更坐拥超过一兆美金之各式的主权财富基金。理所当然，中国手上有很充裕的现金来做海外投资。
印尼大选揭晓，雅加达前省长佐科·维多多（Joko Widodo）当选新一届总统，其平民形象赢得了大量选民支持。他说这是印尼所有人民的胜利。
美国演员布拉德·皮特（Brad Pitt，又译毕彼特）与安吉丽娜·朱莉（Angelina Jolie，又译安祖莲娜祖莉）的离婚诉讼不断升级。日前，朱莉指出皮特未支付足够子女抚养费，皮特对此提出反驳。
一系列怀疑藏有爆炸品的包裹在同一天分别寄至美国政界多名显赫人物的办公室或寓所，包括前总统奥巴马（Barack Obama）以及前国务卿希拉里·克林顿（Hillary Clinton）。
法国国庆日在尼斯市驾驶大货车撞击人群导致至少84人死亡的凶手，身份已经确认是31岁的突尼斯人穆罕默德·拉胡瓦杰-布哈勒（Mohamed Lahouaiej Bouhlel）。
负责照看叙利亚古城帕尔米拉古文物的一位考古学家据报被“伊斯兰国”民兵杀死。
韩国民众于周二（5月9日）开始进行投票选举新总统，这是一次提前进行的总统大选，此前的腐败丑闻迫使前任领导人下台。
中国的一场大学女子足球比赛因为有球员被指违规染发而被取消。
土耳其警察向在安卡拉中国大使馆外抗议的维吾尔人喷胡椒水。此前抗议者袭击了在伊斯坦布尔的泰国领事馆，因为泰国将约100名维吾尔人遣返回中国。
美国总统奥巴马周一（23日）在访越第一天宣布解除对越南持续了32年的武器禁运。这也是越战遗留下来的最后一个禁令。
新冠疫情和距今2450年的那场令雅典大伤元气的瘟疫有不少相似之处， 有 不少经验 可供汲取，而 这件事跟英国首相鲍里斯·约翰逊 ，以及 他心目中的古希腊英雄也有关联，牛津大学古典学专家阿尔芒·达昂古尔（Armand D'Angour）说。
新冠疫情和距今2450年的那场令雅典大伤元气的瘟疫有不少相似之处， 有 不少经验 可供汲取，而 这件事跟英国首相鲍里斯·约翰逊 ，以及 他心目中的古希腊英雄也有关联，牛津大学古典学专家阿尔芒·达昂古尔（Armand D'Angour）说。
日本公共广播公司NHK周三（13日）说，日本明仁天皇打算将在未来几年退位。
新加坡与美国签署加强防务合作协定。周一（7日）美国首度派遣P-8海神空中侦察机到新加坡，被视为对中国南海领土议题的最新回应。
旅游指南《孤独星球》 （Lonely Planet） 把英格兰评为世界第二位最佳旅游 地区和 国家。以下是他们评选的五大原因。
根据一项全球毒品调查（the Global Drug Survey）结果显示，跟美国、加拿大、澳大利亚以及其他欧洲国家相比，英国人更可能在性行为中使用“娱乐性毒品”。
研究显示，2012年伦敦奥运会给英国经济带来价值99亿英镑的贸易与投资增长。
巴黎连环袭击事件发生后，由于担心安全问题，美国有十多个州已表示将拒绝接受叙利亚难民。
曾被拘押的维族妇女向BBC陈述在新疆“再教育营”中所受系统性性侵的报道在国际间引发反响。英国、美国和澳大利亚政府均有正式表态。
美国路易斯安那州一名男子在监狱等待执行死刑25年后，谋杀罪原判被推翻获释。
德国警方通报说，一辆卡车撞向首都柏林市中心的一个圣诞集市，已经造成 12 人死亡和 4 8 人受伤。
苹果公司首席执行官库克周四（30日）首次公开宣布出柜，并称，他为自己是同性恋感到骄傲。
白金汉宫宣布，英国女王伊丽莎白二世与丈夫菲利普亲王将对法国进行为期3天的国事访问。
根据英国政府的一项新议案，在英格兰和威尔士，如果宠物犬攻击并咬人致死，犬主人有可能面临终生监禁。
英国警方议会大厦附近周三（3月22日）发生恐怖袭击事件肇事者是52岁的英国公民卡里德·马苏德（Khalid Masood）。
伊朗以绞刑处死了一名妇女，这名妇女杀死了一名试图性侵害她的男子被判死刑。
被美军囚禁于关塔那摩基地长达13年的最后一名英国居民早间获释。
韩国官方称，朝鲜炸毁了位于边境小镇开城的朝韩联络办公室所在大楼。
英国财政大臣乔治·奥斯本宣布系列措施，要使伦敦成为中国在海外金融业务的主要中心。
欧洲最大银行汇丰银行（HSBC）计划在英国削减8000个职位，旨在节俭开支和简化运作。
朝鲜领导人金正恩准备下周到越南第二次与美国总统特朗普会面。正当朝鲜慢慢破除昔日与外界的隔膜，外界如何看待投奔到外国的朝鲜前外交官慢慢变成棘手的问题。
美国国防部长哈格尔周一（7日）在访问中国的第一天登上了中国唯一的一艘航空母舰辽宁号参观。
《哈利·波特》作者JK罗琳宣布她的第一部面向成人的小说将取名"The Casual Vacancy"。
中国作为世界第二大经济体，不但是20国集团（G20）中成长最快速的成员，更坐拥超过一兆美金之各式的主权财富基金。理所当然，中国手上有很充裕的现金来做海外投资。
专家警告，公众对疫苗的不信任意味着世界在对抗可避免的致命传染疾病问题上正在退步。
曼谷北部一个专门处理儿童与家庭事务的法院，早前就一宗极具争议的抚养权案件作出裁判，将13名由同一父亲透过代母所生的孩子，判给生父抚养。
F1赛车传奇舒马赫的医生开始减少给他的镇静剂剂量，准备让他从人工昏迷中苏醒。
英国国防部公布了上周在法夫（Fife）基地起飞的“台风”喷气战机跟踪接近英国领空的俄罗斯远程战略轰炸机的照片。
无论是护士、护工还是超级市场员工，在封锁令期间，关键工作人员都恰如其分地被视为英雄。
八旬朝鲜战争老兵被朝鲜扣押之际，美国官员敦促朝鲜释放被扣美国公民。
瑞典检察官周五（13日），表示将亲赴伦敦厄瓜多尔大使馆询问“维基解密”创始人阿桑奇（Julian Assange）。
欧洲理事会主席塔斯克表示，尽管英国首相卡梅伦要求针对欧盟移民进行福利制度改革，但这一要求与欧盟“存在巨大政治分歧”。
一名携带两本中国护照的女子，带着一个装有恶意软件的U盘涉嫌撒谎混入美国总统特朗普的海湖庄园（Mar-a-Lago）俱乐部。
英国内政大臣特里莎·梅称，英国大城市的各项活动以及英国边境都将“加强安保措施”。
猫一直是广受人们欢迎的动物，但是新西兰南部海岸边的一座村庄为保护当地野生动物，正计划推行禁猫令，引发争议。
人类大脑是世界上已知的最先进和复杂的器官，虽然数百年来人们试图研究和揭开人脑之谜，但我们对它的了解仍然有限。
美国官员说，美国联邦情报机构已对有关方面公开据称属于美国中央情报局黑客项目文件的事件展开刑事调查。
一个由英国政府出资成立的国际调查小组正在收集伊斯兰国领导人犯下战争罪行的证据。
BBC旗舰节目《新闻之夜》（Newsnight）的很多工作人员对于该节目组对前电视节目主持人吉米·萨维尔（Jimmy Savile）进行调查的计划被取消提出了质疑。
菲律宾就中国在南海一个有主权争议的岛礁填海向中方提出抗议，认为是侵犯菲律宾的专属经济区。
英国国防大臣麦克尔·法伦表示，明年一月将派遣数百名英国部队前往伊拉克。
2011年在挪威用枪击和炸弹杀死77人的安德斯·贝林·布雷维克被奥斯陆大学录取，学习政治学。
美国总统奥巴马提名民主党资深参议员约翰·克里（John Kerry）为新一任国务卿。
中国外交部对《纽约时报》有关中国总理温家宝的家人聚敛财富的报道作出回应，指责这项报道抹黑中国。
国际刑警组织表示，中国和南非警方缴获了数千剂假新冠病毒疫苗，并逮捕了数十人。在中国，警方在一家据称生产假疫苗的工厂逮捕了80人，至少发现了3000剂假疫苗。
在香港银行大楼的背景下，有一排排的兑换外币的店铺，进行着快速和匿名的一些交易。
流行排行榜当红英国男生组合单向乐队（One Direction）将被下月举行的MTV欧洲音乐大奖授予最佳英国和爱尔兰艺人头衔。
F1赛车传奇舒马赫（Michael Schumacher）家人周一（6月16日）对外界表示，昏迷近半年的舒马赫已经“脱离昏迷”，并离开了医院。
根据新的反恐建议，具有双重国籍的德国人如果在海外参加伊斯兰极端组织作战将失去德国公民资格。
英国首相卡梅伦在接受BBC采访时说，英国政府距离建立一个英格兰议会的计划“并不遥远”。
欧盟一项调查显示，大约有三分之一欧盟女性曾经在15岁以后遭遇过肢体暴力或性暴力。
他们很年轻，很生气，他们要求改变。
美国总统奥巴马发出行政命令，以威胁国家安全为由，禁止中国三一重工在美国兴建数个风电场。
英国交通部的一份报告确认说，有必要修改现行的交通规则和汽车维修检查规定，以便无人驾驶汽车在英国上路行驶。
英国广播公司BBC汽车节目Top Gear主持人之一杰罗米·克拉克森（Jeremy Clarkson）否认自己在其中一集节目中使用了种族歧视的字眼。
苏格兰独立公投的投票周四晚间10时结束，从早上投票开始，选民就络绎不绝的前往投票站投票。
亨利与巴路有很多共通点 ── 同样曾经陷入困境最终获救，现在也都同样喜欢在户外活动。然而在粉丝眼中这对好友的特别之处，在于它们竟是一猫一狗。
印度的#MeToo在一连串指控中到来，多名女性通过推特（Twitter）公开指控喜剧明星、记者、作家、演员和电影人各色人等——同时，这也激起了一番关于何为自愿、谁是共谋的热烈议论。
美国总统奥巴马电话警告阿富汗总统卡尔扎伊说，美军可能在2014年底前全部撤出阿富汗。
英国王室星期二（11月16日）宣布，女王的长孙威廉王子与女友凯特·米德尔顿已经在今年10月订婚，将于明年结婚。
新加坡建国总理李光耀以其远见和极端实用主义的手法，把新加坡从一个一无所有的小岛变成了一个活跃成功的经济体。
南美洲国家厄瓜多尔正在警惕大批渔船出现在加拉帕戈斯群岛（Galapagos Islands，又称科隆群岛）附近海域。
菲律宾总统杜特尔特（Rodrigo Duterte）再发惹火言论。这次，他声称自己小时候曾经性侵犯他的家佣，再引起外界评击。
英国5月到7月的失业率下跌到7.7%，低于此前三个月的7.8%。
研究人员说，经常吃加工肉食品可能会使哮喘病加重。
“工作！工作！工作！”在威尼斯市圣露西亚中央火车站的台阶上，正在示威的行李管理员、轮船清洁工以及码头保安人员这样喊着。
一场政坛地震？在英格兰地方选举结果揭晓后，还有些人不太相信这个说法。
两周之内，日本一名模特具名指控一名著名摄影师剥削，两名政府高官因为性侵丑闻辞职。在日本这个向来抗拒承认女性面对困境的国家，“#MeToo”争论重燃。 BBC 记者白石早树子报道。
美国联邦储备局宣布，将结束自2008年开始的量化宽松（QE）刺激计划。
一个美国陪审团做出判决，波士顿爆炸案犯焦哈尔·察尔纳耶夫（Dzhokhar Tsarnaev）被判注射毒针处死。
英国皇家邮政股票周五开始有条件交易，股价一度达到每股456便士。这比招股价330便士高出38%。
音频社交应用程式Clubhouse的新用户数量在上周快速增长，其中很多是蜂拥而至讨论政治议题的中国人。不过，来自中国多个城市的用户周一（2月8日）报告说，当局已经屏蔽了这一软件。
英国皇家海军核潜艇“不懈”号撤出搜寻MH370的国际行动。
澳大利亚总理陆克文周五（19日）宣布，该国将不再给与船民难民资格，但将把这些乘船抵达澳大利亚寻求难民庇护的人送往巴布亚新几内亚。
三名朝鲜人在美国被起诉，罪名是谋划从世界多地的银行及企业盗窃和勒索超过13亿美元（9.4亿英镑）。
美国是中国留学生的首选目的地。
《纽约时报》发布调查，指美国总统特朗普（Donald Trump）在2016年竞选美国总统和入主白宫后的第一年都只缴纳了750美元（人民币约5115元）的联邦所得税。
脸书和推特的行政总裁在星期二再次在美国参议院的听证会上接受议员质询，就他们处理美国大选的方式解画。
利比亚军队总参谋长尤瑟夫·曼谷什因东部城市班加西发生大规模民间武装与抗议示威人群的冲突并导致逾30人死亡而宣布辞职。
“工作！工作！工作！”在威尼斯市圣露西亚中央火车站的台阶上，正在示威的行李管理员、轮船清洁工以及码头保安人员这样喊着。
美国宣布计划退出一项144年历史的国际邮政协议，白宫指该协议允许中国以不公平的低价格邮寄货物。
南非警方说，最近对约翰内斯堡东部一家农场突击搜查，查获5000张驴皮。当局正在对非法驴皮交易展开调查。
好莱坞演员凯文·史派西（Kevin Spacy）出庭就猥亵侵犯和殴击指控接受聆讯，该指控源于2016年的一项性骚扰指控。
美国哥伦比亚广播公司（CBS）结束了对前高管穆恩维斯（Leslie Moonves）性侵事件的调查，表示不会支付1.2亿美元的解雇补偿。CBS表示有理由解雇穆恩维斯，原因包括他“故意实施重大不法行为”。
印度一名男子日前向当地法院控告自己的父母，指控他们没有征得自己同意，就把他生下来。
中国媒体《新京报》报道称，中国一对4年前去世夫妻的遗留胚胎由代孕母亲产子。
突尼斯国会大厦旁的巴尔杜博物馆遭到枪手袭击，造成19人死亡，突尼斯总统提出强烈谴责，并发誓将毫不留情地打击恐怖主义。
“流氓国家”、“最大的直接威胁”……世界对朝鲜有很多标签，当中很少是正面的。
面对新一轮针对中国在西沙群岛（越南称黄沙群岛）钻油的反华示威威胁，中国交通运输部加派五艘船只到越南，加快撤侨进度。
为了明年巴西世界杯足球赛而兴建的一个体育场发生意外，一名建筑工人从屋顶坠落死亡。
伊朗同欧洲空中客车公司签署一项250亿美元的协议，购买118架空客客机。
十八名男子声称他们的工资低于女性同事，向威尔士三一圣戴维大学（University of Wales Trinity Saint David）提起诉讼，要求赔偿。
要理解今日中国处理贸易、外交政策或网络审查等问题的新闻，得从它的历史中寻求答案。
英国外相哈蒙德表示，如果欧盟其他成员国对于英国提出的改革建议采取“冷淡”的态度，英国将对是否继续留在欧盟内进行“重新思考”。
qwerty（快蹄）键盘，要打QWERTY这几个字母还真不容易。
英格兰银行行长马克·卡尼说，英国经济复苏已经“稳固”，失业率回落将超过预测。
英国国家统计局公布的最新数据显示，英格兰和威尔士少女怀孕的现象正在减少。
约翰·列农(John Lennon)在利物浦出生的房子在卡文俱乐部(Cavern Club)举办的一场拍卖中以48万英镑成交。
一项研究称，英格兰大部分成年人缺乏运动，这种状况威胁到他们的健康。
星巴克宣布，将从2019年起在全美国所有分店的免费无线网络（wi-fi）上屏蔽色情内容。
来自世界各地的数千名艺人云集苏格兰爱丁堡，参加世界上最大的艺术节--爱丁堡边缘艺术节。
美国国防部长阿什顿·卡特星期五（4月15日）访问了在南中国海有主权争议的海域美国史坦尼斯号航空母舰。
澳大利亚悉尼警方反恐部门在一次突袭行动中拘捕两名分别为15岁和20岁的男子。
安吉丽娜·朱莉（Angelina Jolie，安祖莲娜·祖莉）日前表示，在塑造年轻女性的人格这件事上，男性也应该承担责任。
印度新冠疫情严重，澳大利亚声称将对从印度回国的澳洲国民处以监禁。批评者称这一疫情应对措施是“种族主义”，且违反人权。
《哈里·波特》作者JK罗琳（JK Rowling）为成年人写的第一部小说《临时空缺》（The Casual Vacancy）上市后直升小说排行榜首。
新华社报道，因为涉嫌严重违纪违法而接受组织调查的前全国政协副主席苏荣已被免去其职务。
全球预期寿命在不断增长。例如，一个在2016年出生的人，比25年前出生的人平均多活7岁。
墨西哥总统最近致函西班牙国王费力佩六世和罗马天主教皇方济各，要求他们为历史上在征服和殖民统治美洲期间犯下的侵犯践踏人权行为道歉。
中国一年一度的“双十一”电子商务销售活动结束，全球最大的电子商务商阿里巴巴销售额再创新纪录。
在周一（4月19日）的奥克兰机场，到处都是含泪团聚的人们。一年多以来的第一次，澳大利亚居民终于可以自由地来到新西兰。
美国国家航空航天局获得白宫支持，将国际空间站的使用期再延长4年到2024年。
韩国民众于周二（5月9日）开始进行投票选举新总统，这是一次提前进行的总统大选，此前的腐败丑闻迫使前任领导人下台。
美国总统奥巴马周一宣布提名美国前共和党参议员查克·哈格尔（Chuck Hagel）为美国新国防部长。
古巴前任总统费德尔·卡斯特罗出人意料地在公众场合亮相。这是年事已高的他14个月以来首次现身。
欧洲央行ECB说，如果欧元区继续保持低通胀率，将需要采取更多刺激措施。
美国乔治华盛顿大学（George Washington University）一位专门研究非洲和非洲移民的教授承认自己假冒黑人身份，引起轰动。
一份被泄露的税务单显示，美国总统唐纳德·特朗普（Donald Trump）在2005年为1.5亿美元（1.23亿英镑）缴交了3800万（3100万）美元税款。
美国总统拜登（Joe Biden）提出以数以万亿美元计支出，通过升级衰败的基础设施来重振美国经济，并应对气候变化。
瑞典学院星期五（5月4日）宣布，今年将不会颁发诺贝尔文学奖。该奖是历史最悠久最有声望的文化类奖项之一，颁奖组织承认其面临危机。
在伊朗为换取放宽国际制裁而同意签署限制自身核活动的协议之后，全球原油价格随之下跌。
英国官员星期一（9日）说，香港政府拒绝允许同性恋伴侣在香港的英国领事馆举行婚礼，这一举动遭到香港同性恋权益团体的猛烈批评。
库尔德人生活在土耳其、伊拉克、叙利亚和亚美尼亚交界的山区，人口在2500万到3500万之间，是中东地区第四大族裔。但和巴勒斯坦人不同，他们从未有过自己的国家。
巴西的科学家说，他们认为蚊虫所传染的寨卡病毒可能比以前所想像的还要危险许多。
有科学家称，人类现代文明起源于非洲赞比西河（Zambezi River）以南地区，也就是现在的博茨瓦纳（Botswana）。
根据最新调查，1/3的受访学生认为英国大学课程质量欠佳。
美国总统特朗普（Donald Trump）在周四白宫记者会上表示，他看到过新冠病毒起源于中国实验室的证据。这一言论被指与美国情报机构的说法不符。
美国众议院情报委员会星期一（10月8日）发表报告说，中国通讯企业华为和中兴对美国的国家安全构成威胁，建议美国公司不要与这两家公司有商业往来。
伊斯兰国组织公布了新的录像，其中显示一名英国男子已被该组织扣押为人质。
