德国媒体星期五（4日）报道说，德国情报机构的一名雇员因涉嫌为美国做间谍工作而被逮捕。
英国的一个组织“千字运动”（The 1,000 Words Campaign）呼吁，每个英国人都应该至少学一千个外文字。
法国总统奥朗德周六（1月25日）宣布，他和长期伴侣瓦莱丽·特里耶维勒分手。
根据最新计划，英国国防部将与其最大的承包商合作，加强防范网络攻击。
英国女作家JK罗琳说，当她发现她在新书中所使用的笔名是被一家律师事务所泄漏之后感到“非常愤怒”。
音乐电影《乐来越爱你》(La La Land)在角逐今年金球大奖的征途上获得7项提名，成为获奖最大热门。
由于英国各大学的教师举行全国大罢工，数万在校学生本周无课可上。
最近有新证据显示，朝鲜领导人金正恩及其父亲金正日曾在90年代获取欺骗性巴西护照。
BBC总裁乔治·恩特维斯尔（George Entwistle）辞职后，代理总裁宣布自己的首要任务是掌控局势。
互联网发明人、英国计算机科学家蒂姆·伯纳斯-李说，英美间谍机构破解网络密码进行监控是“骇人听闻和愚蠢的”。
欧洲中央银行（ECB）行长德拉吉（Mario Draghi）星期四（1月21日）发表谈话说，欧洲央行将在3月份的下次会议上重新审议自己的货币政策，考虑采取进一步的刺激经济措施。
牛津大学校长对英国大学每年9千英镑学费上限的可持续性提出质疑。
澳大利亚研究人员称，在南非发现的一个200万年前的头骨为人类进化提供了更多信息。
尼泊尔80年未遇的强地震造成2300余人死亡，目前各方正在加紧展开救助工作，救援人员和物资已经开始抵达灾区。
一项大规模国际调查称，空气污染对心脏衰弱的人威胁最大，甚至可能导致死亡。
英国银行业协会（BBA）警告，由于担心英国脱欧对银行业的影响，一些国际大银行正在准备明年初开始将一些业务撤出英国。
牛津大学的一项研究显示，每天玩一会儿电脑游戏可能会对少年儿童的心理发育有好处。
沙特从9月28日起正式对包括中国在内的49个国家公民开放旅游签证申请。这是沙特首次向外国游客开放旅游签证。
分别15年，“坏小子” 罗比·威廉姆斯（Robbie Williams）将重新回到接招乐队（Take That），并发行新专辑。 重组背后
好莱坞歌舞电影《爱乐之城》（La La Land，另译《乐来越爱你》、《星声梦里人》）在年度金球奖（Gold Globe Awards）成为最大赢家。
位于朝鲜首都平壤的地标性建筑柳京饭店据信将于明年开业，从而结束这座26年的烂尾楼令朝鲜领导人难堪的历史。
英国著名的格拉斯顿伯里音乐节(Glastonbury Festival)明年的演出门票以创纪录的速度全部售罄。
巴西极右政党候选人雅伊尔·博尔索纳罗（Jair Bolsonaro）在大选中胜出，当选新一任巴西总统。
丹·麦加恩（Dan McGahn）说，这是意图谋杀。
朝鲜表示周日早些时候发射的导弹是新型的"火星12型"弹道导弹。防务专家汉娜姆（Melissa Hanham）对朝鲜的军事进步作了解读。
中国人民政治协商会议第十二届全体委员会第四次会议在北京开幕，揭开未来两周中国重要的年度“两会”序幕。
世界经济论坛（WEF）公布2013年全球性别差距排行榜，冰岛连续第五年成为性别差距最小的国家。
美国知名唱作人鲍勃•迪伦（Bob Dylan）在获颁诺贝尔文学奖近半年后，终于领取了他的奖章。
美国总统奥巴马在越南访问三天，期间与美国著名美食节目主持人名厨安东尼‧波登（Anthony Bourdain）在河内的一家小餐馆吃了顿便餐。这顿饭局花了6美元。
中国对挪威试图恢复关系的努力反应冷淡，此前挪威诺贝尔奖评选委员会决定将诺贝尔和平奖授予中国被囚禁的异见人士刘晓波引起中国强烈不满。
巴西警方拘捕10人，涉嫌准备在8月里约热内卢奥运期间发动恐怖袭击。巴西政府为此紧急召开内阁会议。
英国首都伦敦的地铁工人从当地时间星期二（2月4日）晚上9点开始举行为期48小时的大罢工，以抗议伦敦交通局的裁员和关闭售票窗口计划。
安东尼·阿尔莫杰拉（Anthony Almojera）是美国纽约的一名资深急救员。他是纽约消防大队医疗急救队副队长。在他17年的紧急救护生涯中，见证了无数生死险情，对死亡可谓见怪不怪。但这一切都不足以让他为新冠疫情大爆发做好心理准备。
每年遇到连续假日，英国人都会举办一些怪异的趣味比赛，例如在泥潭里游泳，滚奶酪比赛，这种荒诞怪异的比赛究竟有何吸引力呢？
意大利一名男子与妻子吵架之后走出家门试图冷静情绪，结果却独自步行了450公里。
中国知名视频网站芒果TV周一（2月25日）在对第91届奥斯卡金像奖颁奖礼全程进行中文字幕同步直播时，因修改了最佳男主角拉米·马雷克（Rami Malek）获奖感言中关于同性恋的部分而遭到批评。
中国一家工厂自今年1月以来制造41000台假冒苹果手机（iPhone）被北京警方破获，共9人被捕。
被伊朗指控涉嫌从事间谍活动的《华盛顿邮报》记者杰森·雷萨安星期二（5月26日）在伊朗出庭受审。
印度铁道部负责人近日因在社交媒体上转发一条印度“高速”列车的快进视频而被嘲讽。
在出口大增、进口下跌的推动之下，中国今年二月贸易顺差达到606亿美元，创下单月历史最高纪录。
新冠病毒的传播在美国呈稳定上升趋势，峰值还未到来。未来几周会发生什么？
近几年来素食主义逐渐形成风潮，主要是由于人们开始注意自己的健康，并关心动物的权益和环境意识。
南极阿梅利冰架（The Amery Ice Shelf ）最近生成了一个冰山，是半个多世纪以来这个冰架剥落出的最大冰山。
美国宣布对普京“核心圈”里的7名个人和17个相关公司实施制裁。白宫发言人说，此举是对“俄罗斯在乌克兰继续的非法干涉”的回应。
伊朗对有关为国外能源公司提供合同的方式进行修改，目的是吸引多达300亿美元的新投资。
三名日本科学家因发明“高亮度蓝色发光二极管”（又称“蓝光LEDs”)而获得2014年诺贝尔物理学奖。
莫妮卡·格雷迪教授（Monica Grady）对于登陆器首次成功登陆彗星做出的反应，已经很好说明了“罗塞塔”探测器（Rosetta）项目对科学家们来说意味着什么。
从英国著名理论物理学家史蒂芬·霍金（Stephen Hawking）到特斯拉创始人伊隆·马斯克（Elon Musk）等世界顶尖人工智能（AI）专家，都曾表示过人工智能对人类生存的威胁。
英国一项研究显示，对于诸如有心脏疾患的人来说，运动可能同服药同样有效。
一场大火困住了法国首都著名历史地标巴黎圣母院，致使这座大教堂的尖塔和木制房顶坍塌。
美国政府本周公开了数千份调查1963年美国总统约翰•F•肯尼迪（John F. Kennedy）遇刺案的秘密文件。
今年 英国年度野生动物摄影师奖（Wildlife Photographer of the Year; WPY） 由一张记录下环境犯罪的骇人照片夺冠。
预计国际制裁即将解除之际，伊朗释放了《华盛顿邮报》记者杰森∙雷萨安和另外3名其关押的美国人。
曾因出演音乐轻喜剧《欢乐合唱团》（ Glee）而出名的美国女演员娜亚·里维拉（Naya Rivera）可能意外溺水身亡。
苹果公司星期二（1月26日）报告说，苹果公司的iPhone销售量出现了自2007年推出这项产品以来的最低增长。
法国巴黎警方说，美国娱乐电视真人秀名星金·卡戴珊（Kim Kardashian）在巴黎一处隐秘的豪华住宅被两名伪装成警员的抢匪持枪抢劫。
奥地利政府将征用年阿道夫·希特勒出生的旧居，防止其变成新纳粹朝圣的场所。
在利比亚的“伊斯兰国”组织发布视频称，伊斯兰国在利比亚绑架的埃及基督徒已被斩首。
最新发布的英国国家档案馆文件披露，英国前首相“铁娘子”撒切尔夫人（Margaret Thatcher）曾拒绝与伦敦动物园的一只大熊猫搭乘同一班机飞往华盛顿。
大批新近泄露的金融文件显示，包括英女王私人领地在内的各国权贵和巨富，将大量财富秘密投资在离岸“避税天堂”中。
法国总统奥朗德在与女演员朱莉·加耶的恋情上周曝光之后，首次到医院探望现任正式女友特里耶维勒。
一位英国广播公司前总裁指责“BBC信托会”（BBC Trust）在支付过多离职金给高层管理人员的问题上误导了议会。“BBC信托会”代表英国支付电视执照费的民众的利益。
全球近百万歌迷12月8日（周三）举办各类活动纪念已故“披头士” (又译为“甲壳虫”)乐队（The Beatles）歌手约翰·列侬（John Lennon）逝世三十周年。
88岁辞世的卢西安·弗洛伊德（Lucian Freud）是英国最受尊重的画家之一。
在俄罗斯军用飞机坠落在黑海之后，俄罗斯展开大面积的搜寻工作。
曾公开批评已故新加坡前总理李光耀并两次入狱的网络博主余澎杉（Amos Yee）在美国获得政治庇护。
巴西总统罗塞夫提议就政治改革措施进行全民公决，以平息席卷巴西的反政府示威浪潮，
瑞典著名服装零售品牌H&M因对新疆棉花的一则旧声明，受到中国网民猛烈抨击。舆论持续发酵，耐克、阿迪达斯等国际运动品牌卷入争议，多名中国艺人宣布终止和H&M合作。
在运动员收入排名的世界前100名当中，只有塞琳娜·威廉姆斯（Serena Williams）一名女性。
一幅被指由阿道夫·希特勒创作的水彩画在德国一场拍卖中出售，成交价13万欧洲（16.1万美元）。
汇丰银行（HSBC）总裁欧智华（Stuart Gulliver）承认，近期关于他个人存款事件让汇丰银行蒙受声誉上的损害。
比利时总理米歇尔宣布，鉴于“严重和随时可能”发生巴黎式袭击的威胁仍然存在，布鲁塞尔的安全警戒将维持在最高级别。
匈牙利警方周二（1日）封锁了布达佩斯的一个主要的火车站以防非法移民从哪里乘车前往欧盟其它国家，数百名移民在火车站外举行抗议活动。
据来自阿富汗南部赫尔曼德省的消息称，塔利班武装已经接近占领这个省的战略重镇桑金。
根据慈善组织乐施会（Oxfam）的资料，新冠病毒疫情期间，全世界最富有的10名亿万富豪的总财富增加了5400亿美元（4000亿英镑）。
一项大规模国际调查称，空气污染对心脏衰弱的人威胁最大，甚至可能导致死亡。
曾经在全球第四大军队服役的女军人说，在军中的生活异常艰苦，艰苦得会令大部份女兵都停了经。她还说，对很多女性军人而言，被强暴已是常事。
现年85岁的阿波罗8号登月舱驾驶员比尔·安德斯（Bill Anders）日前对BBC称，载人登陆火星的计划是“愚蠢的”。
罗马教廷说，罗马天主教皇方济各因为“同中国关系微妙”不会同西藏流亡精神领袖达赖喇嘛会面。正在罗马访问的达赖喇嘛提出了会见的要求。
德翼航空的一架A320空客客机周二在从西班牙巴塞罗那飞往德国杜塞尔多夫的途中坠毁在法国南部阿尔卑斯山区，机上共有144名乘客和6名机组人员。
美国汽车制造业巨头通用汽车公司宣布因安全隐患担忧决定在全美召回翻修240万辆车。
随着iPhone的需求量大幅上升，科技公司苹果（Apple）公布的第三季度营利业绩创下新纪录。
美国参议院情报委员会指，没有证明显示特朗普大厦在选举前后遭窃听。
在一些军方势力宣布发动政变并“已经夺取政权”后，土耳其总统埃尔多安飞抵伊斯坦布尔。
2015年，美国费城发生了一起“谋杀案”，一个靠搭便车只身周游世界的旅行者在途中遇害。
联合国安理会通过一项决议，敦促结束以色列非法定居点，在这之前美国没有否决这项决议。
当雷纳德·辛纳加（Reynhard Sinaga）将受害者带回自己的寓所之后，他会用药物令对方失去意识，然后实施侵犯。
法国大选第二轮投票前夕，中间派独立候选人埃马纽埃尔·马克龙（Emmanuel Macron）的竞选团队指它的电脑系统被黑客攻击，企图左右选民意向。
中国正在投资数以十亿美元计的金钱，在斯里兰卡建设基础设施和发展项目，但是很多当地的国民却觉得，这是在将国土出场给中国人。
官方数据显示，英国失业率下降到自2009年以来的最低水平。
美国高级卫生官员安东尼·福西（Anthony Fauci）称，如果美国能早些采取措施阻止新冠病毒传播，“本可以挽救生命”。
英国导演山姆·门德斯（Sam Mendes）将执导下一部“邦德”片。这将是007系列影片中的第24部。
英国广播公司BBC的推特、天气、阿拉伯语和北爱尔兰广播等网上帐户遭到黑客攻击。
从伦敦街头被移走的一幅涂鸦艺术家班克西的作品，将不再参加即将在美国举行的拍卖。
"5、4、3、2、1…"
美国国家情报总监克拉帕说，黑客对美国政府人事机构发动的攻击事件里，中国的嫌疑最大。
美国副总统迈克·彭斯（Mike Pence）称，因为特朗普总统的关系，美国的信徒人数正在再次上升。近年来，美国的宗教风潮的确有所改变，但是真如彭斯所言吗？
沙特阿拉伯与伊朗之间目前剑拔弩张——一直以来，这两个国家都是宿敌，但局势近日迅速升温。为什么？BBC外交事务记者马库斯（Jonathan Marcus）为你解读。
美国信用评级机构标准普尔（Standard & Poor's）将社交媒体巨头推特公司的债务评为“垃圾级”。
美国疾病控制与预防中心的官员说，寨卡病毒给美国带来的影响可能要比人们此前预测的还“可怕”。
英国研究人员表示，丧失嗅觉或味觉可能是感染了新型冠状病毒的一个症状。
在朝鲜与美国继续互相吓唬对方之际，由于金正恩的铁腕管治，仔细控制人民与外部世界的联系，我们很难得知朝鲜群众对当前局势的看法。
世界银行在其最新一期经济展望中提出预计中国2013年经济增长率将达到7.7%，比此前预测的8.4%水平有显著降低。
太平洋岛国帕劳(Palau)成为全球第一个禁用防晒霜的国家，原因是防晒霜对珊瑚和海洋生物有害。
在“疑欧派”和右翼党派在欧洲议会选举中获得突破之际，法国总统奥朗德表示欧盟必须改革，并缩减其权力。
由香港网民发起的全球“反极权”大游行，发起者称共有24个国家包括美国、加拿大、法国、英国、澳洲等国的数十个城市响应活动，声援香港。
佳士得拍卖行表示，英国画家弗兰西斯·培根（Francis Bacon）的一幅作品下个月拍卖，可能会卖出3,000万英镑的高价。
土耳其伊斯坦布尔的圣索非亚大教堂(Hagia Sophia / Ayasofya) 可能被再次改成清真寺，这被认为是土耳其从世俗化传统立场后退。圣索非亚大教堂最初是拜占庭基督教堂，后来被改成清真寺，1935年土耳其世俗化政府把清真寺改成博物馆。
联合航空星期天（4月9日）的一趟航班出现常见的超卖问题， 但结果一名男子被血流满面地拖下飞机收场 。一家本来就已经问题缠身的航空公司迎来了更多的负面报道。到底事情是怎样变得如此糟糕？
日裔英国作家石黑一雄（Kazuo Ishiguro）荣获2017诺贝尔文学奖。
多家VPN（虚拟专用网络）开发商批评苹果（Apple）下架中国区VPN应用。
美国科罗拉多州今天（1月1日）成为美国有史以来第一个合法销售大麻的州。
世界各国134位诺贝尔奖得主联名致信中共最高领导人习近平，敦促中国释放世界上唯一受监禁的诺贝尔和平奖得主刘晓波并解除对刘晓波妻子刘霞的软禁。
牛津大学的阿什莫林博物馆宣布，接受中国艺术研究学者萨利文教授遗留下来的中国艺术品捐赠。
新的一年往往预示着新的起点，重新开始。
以一曲《江南风》（Gangnam Style）风靡全球的韩国饶舌歌手朴载相（Rapper Psy）计划用英文录制自己的下一首单曲。
美国警告英国政府在5G网络中使用华为技术是“疯狂行为”，在英国即将就华为问题作出决定时，再次受到来自美国新一轮的压力。
他生前是美国中央情报局（CIA）的心理分析师，负责解读世界各地领导人的心理特征，勾勒心理素描。曾被他“读心”的包括萨达姆·侯赛因和金正日。
新研究结果显示，经常服用阿斯匹林和布洛芬能帮助防止某些类型的皮肤癌。
印度总理莫迪说，废除印控克什米尔特殊自治的地位决定将使该地区恢复“过去的荣耀”。从印度内政看，莫迪为何会做出这样的决定呢？
身在仰光，你可能永远都不会知道，在缅甸西部若开邦（Rakhine）一场重大的人道主义危机已经发酵超过一个月。
英国政府决定推迟批准欣克利角核电站项目，引起震动。英国政府对此做出解释说，他们需要时间考虑有关这个项目的各方因素。但是人们认为，中国问题是导致重新评估项目的核心原因。
这基本已经是成为官方消息：篮球传奇人物斯蒂芬·马布里（Stephon Marbury）看来要在圣诞节（12月25日）当天获得中国绿卡。
法国出动警察和推土机周二（3月1日）继续在港口城市加莱（Calais）附近名为“丛林”的简陋难民营地拆除数百座临时搭建的棚屋。
美国最高法院消息称，标志性女权捍卫者、美国最高法院大法官鲁斯·巴德·金斯伯格（Ruth Bader Ginsburg）因癌症去世，享年87岁。
美国科学家敦促世界卫生组织（WHO）对兹卡病毒采取紧急措施，否则，他们说该病毒有可能“爆发大规模疫情”。
抗议关闭地铁售票处计划，伦敦地铁举行大罢工，员工上班“严重受阻”。
欧盟执委会主席容克表示，欧盟应建立联合总部，以协调成立共同军队。
前红色高棉领导人农谢为毛派政权统治柬埔寨时所犯下的暴行表示悔恨，并承认对此负有责任。
被中国扣押超过半年的澳大利亚籍华裔作家杨恒均（中国外交部称“杨军”是杨恒均的正式名字），被正式以间谍罪拘捕。
《福布斯》杂志世界名流夫妇财富排行榜出炉，歌坛巨星碧昂丝Beyonce及夫君Jay Z荣登榜首。
多个手机应用商店将即时通讯手机应用 Skype 自中国网络下架，包括苹果应用商店 （App Store）。
日本动画电影《千与千寻》在中国大陆上映第一周，领跑同档期票房，数字超过迪士尼新片《玩具总动员4》票房的两倍。
全球最宜居城市最新排名公布，奥地利首都维也纳挤下连续七年位居第一位的澳大利亚墨尔本，成为2018年全球最宜居城市。
最新官方统计数据显示，英国经济在2014年度增速达到2.6%，成为2007金融危机以来增长最快的一年。
英国女歌手谢丽尔·科尔（Cheryl Cole）的发言人已经证实，遵循医生的建议，谢丽尔取消了下周所有工作计划。
欧盟近日由于新冠疫苗出口限制问题争议，世界卫生组织（WHO）批评欧盟的做法可能会导致疫情延长的风险。
在过去一个世纪，疫苗拯救了数以千万计的人类生命，但是在很多国家，卫生专家却察觉到一个“对疫苗产生犹豫”的趋势——越来越多的人拒绝使用疫苗。
汇丰银行公布2014年业绩，全年盈利跌至187亿美元，比2013年减少了17%。
白宫官员说，奥巴马总统将提名联邦储备局副主席詹妮特·耶伦担任下届央行总裁。
苏格兰地方政府首席部长、苏格兰国家党领袖萨蒙德与反对苏格兰独立的英国跨党派团体“统一好”（Better Together）主席达林就苏格兰独立问题举行电视辩论。
英国外交大臣拉布（Dominic Raab）5月28日称，如果中国不叫停在香港施加《国安法》的计划，英国政府可以为持有英国国民海外护照的香港人提供一条成为英国公民的途径。
研究发现，科学家在测试河流中的化学品时，在淡水虾体内发现古柯碱（又称可卡因）。
英国乡村地区的犯罪率正在升高，其主要原因是牲畜和农机具被盗的情况有恶化趋势。
2018年12月1日，一名加拿大边境工作人员在互联网上匆忙做了一些信息搜寻，结果令他“震惊不已”。
下周新学期开始，英格兰中小学的校餐将实行新的健康校餐标准。
希腊选民在公投中压倒性否决接受国际债权人拯救方案后，市场担心希腊退出欧元区，亚太股市普遍低开。
英国广播公司BBC王牌汽车节目Top Gear 主持人之一杰罗米·克拉克森（Jeremy Clarkson）去年因该节目的总收入超过1400万英镑，名列BBC有史以来最高薪酬主持人行列。
在欧美全面解除对伊朗的经济制裁后，海湾多个产油国股价周日（1月17日）大幅度下跌。
BBC调查显示仅在今年11月全球有超过5000人因圣战者暴力而死亡。
美国有关当局正在对拥有自驾功能的特斯拉汽车涉及的一起车祸展开调查，这也是特斯拉汽车第二次因车祸受到调查。
航空业龙头“空中客车”（Airbus，又译空中巴士）公司表示，面对新冠肺炎危机的影响，计划裁员15,000人。
美国科罗拉多州自1月份允许大麻合法销售以来，当月已经征收大麻税200万美元。
德国副总理西格玛尔·加布里尔警告说，英国脱离欧洲联盟过程要是处置不当，整个欧盟前途都将变得不明朗。
苏格兰政府副首席部长说，苏格兰将允许同性婚姻，这将令苏格兰成为英国境内最先提出同性婚姻法的地区。
美国白宫宣布，奥巴马总统在白宫会晤了藏人流亡精神领袖达赖喇嘛。
俄罗斯一项旨在保护儿童不受互联网有害内容影响的法律开始生效，允许政府在未经法庭裁决的情况下强行关闭一些网站。
关于1989年在北京的那一场事件，官方没有任何纪念的活动。不过这句话虽然属实，但却过份中庸。
美国医疗官员说，在西非利比里亚感染了埃博拉病毒后被接回美国的两名志愿医生现在已经康复。
据《经济学人》旗下经济学人智库（EIU）为BBC民主日所撰写的研究报告所言，欧洲2015年将可能发生连场政治地震。
法国检方说，自称在学校课堂里被一名喊着“伊斯兰国”的男子刺伤的教师承认，这是他自己编造的故事。
美国前总统特朗普（Donald Trump；台译：川普）被控煽动叛乱，遭众议院弹劾，但参议院美东时间周六表决时，结果未达定罪所需的三分之二多数门槛，弹劾案落幕。
南极阿梅利冰架（The Amery Ice Shelf ）最近生成了一个冰山，是半个多世纪以来这个冰架剥落出的最大冰山。
在狭窄、接近无重力的、没有新鲜空气的国际空间站工作将近一年后，美国宇航员斯科特•凯利（Scott Kelly）和俄罗斯宇航员米哈伊尔•科尔尼延科（Mikhail Kornienko）在去年春天回到地球时看起来仍然非常健康。他们在空间站刚刚完成了一个为期340天的任务，这是近年来最长的太空之旅之一。
韩国国会12月1日通过一项法案，允许BTS防弹少年团等顶级K-pop明星延迟入伍最迟至30岁。
德国媒体报道，慕尼黑发现一批多达1500件在1930-1940年代纳粹政府时期被窃据的价值连城的艺术品。
据最新统计显示，英国房价与去年同期相比上升8.8%，这是2010年以来增长最快的阶段。
汇丰银行公布2014年业绩，全年盈利跌至187亿美元，比2013年减少了17%。
最新官方统计数据显示，英国经济在2014年度增速达到2.6%，成为2007金融危机以来增长最快的一年。
知名社交网站“脸书”（Facebook）因被指扫描用户的私人信息而遭到用户集体诉讼。
美国女演員艾梅柏·希尔德（Amber Heard；又译“安柏赫德”或“安芭赫德”）声称她的前夫，好莱坞明星约翰尼·德普（Johnny Depp；又译“强尼戴普”或“尊尼特普”）“威胁要杀死她” 许多次。
在中国央视近日曝光韩国三星手机存在质量和售后服务问题后，三星公司在官方网站发表声明，正式向中国消费者道歉。
英国著名科学家斯蒂芬·霍金（Stephen Hawking）说，人类创造智能机器的努力威胁自身生存。
英国官方数据显示，英国净移民人数过去一年里大幅度降低。
法国总统马克龙说，欧洲没有自己的军队就无法自卫。他说俄罗斯对欧盟东侧构成威胁，欧洲需要有不依赖美国保护自己的能力。马克龙本周一直在法国北部参加纪念第一次世界大战的活动。
阿黛尔（Adele）最近被美国公告牌（Billboard）排行榜评为2012年最佳艺术家。
数百移民突破匈牙利接壤塞尔维亚边界的警方封锁线，并徒步走向匈牙利首都布达佩斯。
在西澳大利亚，一名女子游泳时被座头鲸撞伤，这是一周内发生的第二起此类事件。
英国图书信托基金会举行的投票结果显示，《哈利·波特与魔法石》（Harry Potter and the Philosopher's Stone）为英国儿童最喜爱的图书。
九个月前在伊朗被拘的美国《华盛顿邮报》记者的律师表示，他可能会面临四项控罪。
苹果iPhone销量连续第二季下跌，不过15%的跌幅较早前预测轻微。
数千名出租汽车司机周三（11日）在伦敦市中心举行示威，抗议个体出租车司机使用手机打车软件“优步 ”（Uber）与他们抢生意。
万圣节（Halloween）要来了，全世界的人都在预订自己的服装，为这个年度狂欢节日做准备。
本周五，中国海关总署公布数据称，按照美元计价，3月中国出口总额同比增长14.2%。
英国首相戴维·卡梅伦（David Cameron）推出“大社会”（Big Society）项目，赋予社区和普通人民更多的参与社会的权力。
日前一名沙特阿拉伯女孩在科威特旅行时从家人身边逃走，藏入泰国曼谷一旅馆房间内并拒绝离开。澳大利亚政府称，这名女性已经被联合国认定为合法难民。
英国纳税人控股的苏格兰皇家银行（RBS）公布业绩，承认连续第四年亏损，金额达20亿英镑。
正当英国与西班牙关系紧张之际，英国政府表示，皇家海军一艘军舰前往直布罗陀访问属于“例行”访问。
在美国发布全球恐怖袭击警告后， 英国决定暂时关闭在也门的大使馆，同时通知另外几个国家的大使馆要高度戒备。
中国西部的宁夏回族自治区同心县，数百名穆斯林与当地政府对峙，以保护当地的清真寺不被拆除。
英国首相卡梅伦（David Cameron）与苏格兰地方政府首席部长萨蒙德（Alex Salmond）就苏格兰独立公投的计划达成协议。
最新视频显示英国人质大卫·海恩斯怀疑遭伊斯兰国（IS）武装斩首，英国首相卡梅伦谴责此举是“纯粹的魔鬼行为”。
英国广播公司BBC总裁霍尔表示，他将在内部努力减少官僚主义并激发创造力。
苏格兰地方政府首席部长、苏格兰民族党领袖亚历克斯·萨蒙德（Alex Salmond）周四（21日）宣布，苏格兰将在2014年9月18日就独立举行全民公投。
一段显示一名年轻男子被丧心病狂地投入海中的视频，引发了一宗跨国调查，并曝光了印度尼西亚渔民被指在由中国人拥有的船只上所受到的“奴隶般”的生存状况。这里讲的只是其中两个家庭的故事，借此哀悼那些在寻找新生活的路上死去的儿子和兄弟。
克里米亚官员宣布，克里米亚全民公投不完全结果显示，约95.5%的投票者支持克里米亚加入俄罗斯。不过克里米亚公投受到来自美国和欧盟的强烈批评。
据最新统计显示，英国房价与去年同期相比上升8.8%，这是2010年以来增长最快的阶段。
美国篮球明星丹尼斯•罗德曼在朝鲜领导人金正恩夫妇和朝鲜高级官员以及上万观众面前唱“生日快乐”，庆祝金正恩生日。
从澳大利亚森林大火中救出的考拉（台译：无尾熊，港译树熊）因未能从烧伤中康复而被施行安乐死，引起广泛关注。
关于为什么人踩上香蕉皮后会滑倒的研究赢得本年度搞笑诺贝尔物理学奖（Ig Nobel prizes）。
英国广播公司BBC前主持人斯图尔特·霍尔因性侵犯女童被法庭判刑1年3个月。
美国联邦贸易委员会据报正在调查社交媒体巨头脸书（Facebook），脸书公司汇集的5000万用户的个人数据被指遭英国一家政治咨询公司"剑桥分析"（Cambridge Analytica）滥用。
缅甸政府实际领导人、国务资政昂山素季发表讲话，回应外界对缅甸政府处理罗兴亚危机手法的质疑，表示她并不畏惧国际社会的“监督”。
2018年的格莱美奖（Grammy Awards）成为布鲁诺·马尔斯（Bruno Mars）和肯德里克·拉马尔（Kendrick Lamar）的天下；但在年度最佳专辑和最佳制作中，Hip-Hop歌手拉马尔惜败，最终马尔斯以六项大奖成为最大赢家。
在欧盟委员会加强对非欧盟国家公民通过投资获得公民身份审查的要求下，据报有中国人在内的26名富豪投资者及家属的护照被塞浦路斯政府收回。
津巴布韦军队在首都哈拉雷夺取政权之前，军方领导人访问北京，中国外交部称这是“正常军事交往”。中国与津巴布韦之间，关系到底有多深？
英国政府很有可能会改变初衷，收紧华为5G在英国的使用。近期媒体的多番报道透露政策走向。
你想知道杀死蟑螂最好的方法吗？
日本计划通过资助人工智能配对相亲计划，帮助国民寻找爱情，以提高该国不断下降的出生率。
五名中国军方人员被美国司法部以网路间谍罪名起诉，中国外交部发言人秦刚就此事发表反应说，美方捏造事实。
柬埔寨红色高棉仅剩的两名仍在世领导人涉嫌种族灭绝罪的庭审在金边开始。
美国知名说唱歌手坎耶·韦斯特（Kanye West，另译肯伊·威斯特）的妻子金·卡戴珊（Kim Kardashian West）最近通过社交媒体首次公开了丈夫的精神健康问题。
罗马天主教皇方济各表示，不应该排挤同性恋者，而是要将他们纳入社会。
瑞士检察官表示，他们正在调查汇丰银行瑞士私人银行涉嫌洗钱的指称，并且搜查了这家银行在日内瓦的分部。
一家英国智库说，新兴的科技公司需要更灵活的移民政策，协助他们吸引全球人才。
法国北部城市加莱的警察已经进入当地的偷渡者营地，开始驱逐大约800名来自亚洲、中东和非洲的非法移民，并拆除设施简陋的营地。
台湾官方周二（9月2日）宣布改变护照设计。新护照封面上，英文字体“Taiwan ”一词加粗放大，原有的“Republic of China”则变成较小的字样，围绕着中华民国标志。
世界贸易组织（WTO）9月15日裁定，美国于2018年对中国商品增加关税的行为违反国际贸易规则。这一决定引发美国强烈不满，而中国则对此表示欢迎。
数千名出租汽车司机周三（11日）在伦敦市中心举行示威，抗议个体出租车司机使用手机打车软件“优步 ”（Uber）与他们抢生意。
法国总理瓦尔斯说，法国安全部门现在“每天”都在破获恐怖阴谋，捣毁武装团伙。
许多外国领导人，尤其是华盛顿的盟友们，看到美国国会大厦内外发生的事件时，心情应该是难以置信和极为震惊的。
英国内政部把全国面临的国际恐怖袭击威胁级别提高到“严峻”，仅次于最高级别“危急”。
台北的国立故宫博物院决定向日本的东京国立博物馆借出珍贵的颜真卿书法真迹《祭侄文稿》，供短期展出。一宗表面上看起来是正常文化交流的事情，却在中国大陆和台湾两岸引起了民众的不满。
你想知道杀死蟑螂最好的方法吗？
伊娃·朗格利亚·帕克（Eva Longoria Parker）透露，她将穿着贝嫂维多利亚·贝克汉姆（Victoria Beckham）为她专门设计的新晚装主持MTV欧洲音乐奖颁奖典礼。
法国官员说，在法国阿尔卑斯山坠毁的德国之翼航班飞机副驾驶安德里斯·鲁比茨似乎希望“毁掉飞机”。
中国驻日本外交官员说，一艘中国渔船因被指在日本海域内捕鱼遭日本海上保安厅扣留。
美国总统特朗普（Donald Trump）颁布命令，解封2800份有关前总统约翰·F·肯尼迪（John F. Kennedy）遇刺事件的历史文件。
日本就中国继续在东海日中有争议海域从事天然气开采设施建设提出抗议。
BBC一项调查发现，英格兰半数公墓20年后将告爆满，其中近90个参加调查的地方政府预计10年后本区公墓地皮将告罄。
就在希腊政府与债权国正式将就如何落实援助协议的细节展开谈判之际，前财长雅尼斯·瓦鲁法基斯表示，希腊的经济改革“将会失败”。
英国警方称，一个入屋盗窃团伙专门从智利飞到英国作案，以东南部的富人区住宅为目标，目前已被侦破。
英国摇滚乐传奇人物大卫·鲍伊赢得本年度全英音乐奖（The Brit Awards）最佳男歌手奖。
中国作家莫言获得2012年诺贝尔文学奖，成为获得该奖项的首位中国籍作家。
最新公布的数据显示，英国退出欧盟的决定导致经济活动状况“急剧恶化”，是2008年金融危机以来最糟糕的，也比大部分分析师的预计更差。
与英国展开第一轮谈判之后，欧盟首席谈判官表示，英国脱欧将会带来“实实在在”的后果。
英国外交消息星期四（20日）说，英国将于本周末重开在伊朗首都德黑兰的大使馆。大使馆在大约四年前遭示威者冲击而关闭至今。
21岁的凯姆·塞努·帕维尔·达雷尔（Kem Senou Pavel Daryl）是居住在中国荆州的一名喀麦隆留学生。当他感染新型冠状病毒之后，他没有试图离开中国。
当地时间11月30日，美国候任总统乔·拜登（Joe Biden）提名美联储前主席珍尼特·耶伦（Jenet Yellen）担任财政部长一职。
美国著名投资家卡尔·伊坎（Carl Icahn）抛售了他持有的苹果电脑公司的所有股票，他称苹果公司在中国的盈利前景让他感到担忧。
英国警方表示，三名据信投奔伊斯兰国的女学生已经进入叙利亚境内。
2015年，美国费城发生了一起“谋杀案”，一个靠搭便车只身周游世界的旅行者在途中遇害。
在接连两起疑似美国间谍案曝光后，德国政府要求一名驻柏林的美国中央情报局官员离境。
最新报告说，女性大学毕业生工资仍然低于男性，年薪相差数千英镑。
位于英吉利海峡海底连接英国法国的“欧洲隧道”（也称英法隧道）周二（28日）夜间，再度受到冲击，超过1500名非法移民试图突破围栏冲入隧道。
随着泰国反对总理和泰王的示威持续数月，并且违抗禁止民众聚集的禁令，那里的民主活动人士正越来越多地參考和采取香港示威者使用过的策略。
有报道指出，谷歌“实际上已经终止”开发中国版搜索引擎的“蜻蜓项目”计划。
泰国警方称，一名泰国男子在脸书上直播杀女后自杀。
美国发现第一起新冠病毒病例的两天后，美国总统特朗普说情况“完全得到控制”，并向公众保证情况“会好起来的”。四个月后，新冠病毒已蔓延到美国所有50个州，导致160万例确诊病例，10万人死亡。
根据解封的法庭记录，超过40人因美国大学入学作弊丑闻被起诉，美剧《绝望的主妇》（Desperate Housewives）女演员菲丽西提·霍夫曼（Felicity Huffman）是其中之一。
经纪人证实，英国知名唱作歌手乔治·迈克尔（George Michael）在伦敦近郊南牛津郡戈林村家中逝世，终年53岁。
联合国周日（13日）公布一份期待已久的对应气候变化的报告，呼吁全世界尽快摆脱碳密集型燃料，迅速转向可再生能源的使用。
英国官方数字显示，10月份的年度通货膨胀率为1.3%，高于前一个月的1.2%。
联合国秘书长古特雷斯说，世界各国团结一致对抗气候变化所带来的威胁“绝对有必要”。
5月2日是本·拉登毙命5周年，这个“世界上头号被通缉的恐怖分子”在巴基斯坦一座别墅中被美国海军突击队击毙。
路透社引消息人士称，美国白宫的调查评估显示，没有证据显示华为公司为中国政府在美国从事间谍活动。
11位诺贝尔和平奖获得者在一封公开信中督促联合国采取行动"消除缅甸罗兴亚穆斯林（Rohingya Muslims）的人道主义危机"。公开信还批评了另一位诺贝尔和平奖得主、缅甸实际领导人昂山素季。
国际红十字会称，一组武装分子在叙利亚西北部绑架了6名红十字会工作人员及另一名红新月会志愿者。
瑞典学院星期四（10月10日）宣布，加拿大作家爱丽丝·门罗（Alice Munro）获得2013年诺贝尔文学奖。
澳大利亞维多利亚省，成为该国首个通过辅助死亡（俗称“安乐死”）合法化的省份。
法国地标性建筑巴黎圣母院被一场大火吞噬。火灾不仅破坏了这座教堂的屋顶，使得尖塔倒塌，还对其主要架构造成威胁。
利物浦足球队队长杰拉德(Steven Gerrard)和英国电视名厨奥利弗(Jamie Oliver)联手向英国首相施压，呼吁政府出手干预青少年肥胖问题，“该从学校的烹饪课开始”。
美国亚马逊公司表示，通知员工从手机上删除TikTok软件的电子邮件是一场误会。
著名隐身艺术家班克西的一幅作品出现在Cheltenham的一户住家墙上后，建筑公司已经在房子周围搭起了手脚架。
“我进入大学，想追求更好的生活，但我对未来不抱任何希望，”20岁的香港人迪基（Dicky Cheung）说。
超过300名女演员、作家和导演启动了一个项目，以求打击电影业内和其他工作场所的性骚扰。
英国警方从伦敦南部一栋房子中救出三名女子，警方称，这三名女子被强迫当作奴隶长达30多年。
由几家英国公司组建的一个财团宣布计划2019年在英国大街小巷、甚至高速上测试无人驾驶汽车。但有英国专家称，英国在这方面"已经落后"了。
2012伦敦奥运会将在英国当地时间星期日（8月12日）晚间落下帏幕，闭幕式晚9点正式开始。
英国国家统计局最新公布的数字显示，英国英格兰和威尔士在截至今年3月份的过去一年中记录在案的犯罪案件减少了7%。
2018年，诺贝尔物理学奖获奖名单出炉，奖项得主之一是唐娜·斯特里克兰（Donna Strickland），她摘得科学界至高殊荣。然而很多媒体报道聚焦的角度却在她是继居里夫人（Marie Curie ，1903年获诺贝尔物理学奖）与玛丽·格佩特-迈耶（Maria Goeppert-Mayer ，1963年获诺贝尔物理学奖）后史上第三位获诺贝尔物理学奖的女性。
一项对英国100家大型雇主的调查显示，他们计划今年增加招收近期毕业的大学生。
中国3月份衡量制造业活动的官方指标出人意料地有所改善。
女歌手谢丽尔·科尔（Cheryl Cole）自上周一拍摄新专辑照片时现场晕倒被送进医院后，她的病况得到英国媒体密切关注。
据英国政府公布的最新数字，截至2012年底，英国净移民人数有所增加。
研究发现，科学家在测试河流中的化学品时，在淡水虾体内发现古柯碱（又称可卡因）。
韩国官员周五（4月8日）说，13名在同一家海外餐厅工作的朝鲜人叛逃到了韩国。
备受瞩目的中国公司阿里巴巴将提高其首次公开募股（IPO）发行价，这就意味着该公司在美国上市的时候，融资额可能超过250亿美元。
华为的一项专利被发现，可以在行人的图像中识别出维吾尔族人。
台湾国民党今年初在总统大选以及立法选举的惨败导致国民党主席吴敦义辞职，在本周末（3月7日）选出新任党主席江启臣。
美国芝加哥四名黑人对一名白人精神残障者施暴并通过脸书直播（Facebook Live）传播到网上，被以仇视性罪行及绑架罪起诉。
乌克兰周二（4月26日）展开切尔诺贝利核事故（台湾译车诺比）30周年纪念活动。
一项对英国100家大型雇主的调查显示，他们计划今年增加招收近期毕业的大学生。
开普敦正面临一个丝毫不令人羡慕的命运：这座南非港口城市可能成为现代世界第一个饮用水枯竭的重要城市。
法国官员说，巴黎戴高乐机场警方从一架由委内瑞拉飞往法国的航班上查获1.3吨重的可卡因。
英国卫生部宣布，在英格兰所做的每一次乳房植入手术都要记录在一个新的注册系统中。
英超俱乐部曼彻斯特联队禁止球迷在主场比赛时把平板电脑和手提电脑带进体育场。
英国剑桥公爵（威廉王子）夫妇官邸肯辛顿宫周六（6日）公布了一组乔治王子和夏洛特公主的合影。
世界最大网上零售商亚马逊的首席执行官杰夫·贝索斯（Jeff Bezos）正在测试采用无人驾驶飞行器向顾客发货。
英国广播公司BBC王牌汽车节目Top Gear 主持人之一杰罗米·克拉克森（Jeremy Clarkson）去年因该节目的总收入超过1400万英镑，名列BBC有史以来最高薪酬主持人行列。
2016年里约热内卢夏季奥林匹克运动会正式落下帷幕，在缤纷多彩的闭幕礼上，日本东京正式接过承办下届夏季奥运会的任务。
中国的两会正在召开，紧锣密鼓进行的还有场外多场精心设计的记者会。从筛选问题到屏蔽网帖，共产党官员利用这些方法来管控舆论，但即使在这样高压的环境中，事态也有可能会"翻车"。
来自韩国情报机构的消息说，朝鲜驻意大利大使“失踪”。
美国总统唐纳德·特朗普（Donald Trump）提名的最高法院大法官尼尔·戈萨奇（Judge Neil Gorsuch），是近四分之一世纪以来的提名者当中最年轻的一个。
英国议员警告说，英国必须打击网络诈骗、阻止政府支持的网络谍报，否则将被网络犯罪击败。
美国芝加哥一名男子被虐待的过程被人用脸书（Facebook）直播传播到网上，警方拘捕四人。
电脑业巨头微软周二（4日）宣布，萨蒂亚·纳德拉将出任微软的下一届首席执行官，接替刚卸任的鲍尔默。
在任何国际体育赛事中，支持者们在赛场内挥舞旗帜是再平常不过的画面。
BBC《新闻之夜》节目披露，英国政府曾计划训练和武装10万名叙利亚叛军，以击败阿萨德总统。
根据英国政府最新公布的数字，去年最后三个月里，英国失业人数减少了12.5万人，失业人数下降到234万人。
周三圣诞节，英国女王和家人前往桑德林汉姆教堂参加圣诞礼拜。
英国乐坛的传奇人物艾尔顿·约翰（Elton John）被确诊患阑尾炎后表示，“能够活下来，实在是很幸运。”
著名社交网站推特针对美国监视法而对美国政府提出法律诉讼。
周日（10月8日），古巴城市圣克拉拉数千人集会，纪念50年前被杀害的一位革命者——切·格瓦拉（Che Guevara）。
英国内政部把全国面临的国际恐怖袭击威胁级别提高到“严峻”，仅次于最高级别“危急”。
被困在安达曼海上一艘船上已有一周、没有食物或淡水的移民们说，他们中已经有10人死亡，一些人被迫喝尿维持生命。
英国驻中国大使馆得悉，一名受雇于英国驻香港总领事馆的香港居民据报遭中国当局扣留，目前原因不明。
澳大利亚联邦议会正寻求通过一部新法律，强制大型网络企业与当地新闻出版商分享版税。美国网络巨头谷歌（Google）警告，一旦新法落实，该公司将中断对澳洲的搜寻引擎服务。
BBC得悉，英国最大银行——汇丰银行（HSBC）——协助富户向英国政府瞒税，金额达上亿英镑。
在上周的就职典礼上，特朗普总统将美国的使命从担当一个服务于全球共同利益、以制度为基础的体系的领导，转变为"美国第一"。与此同时中国共产党的领导人将其咄咄逼人的保护主义权力重新包装，改头换面为全球化和共同价值观的捍卫者。这个彻底颠倒的新世界开始一周以来，中国站到世界领导地位的努力进展如何？
被中国网民称作金小妹的凯莉·詹娜（Kylie Jenner）是美国卡戴珊-詹娜家族（the Kardashian-Jenner family）最年轻的继承人。
美国总统奥巴马决定免除美国陆军上等兵曼宁因向“维基解密”网站泄露政府机密而受到的监禁处罚的剩余刑期。
美国总统奥巴马在夏威夷举行的亚太峰会上宣布了建立跨太平洋自由贸易区的计划。
瑞典决定实施临时边境检查措施，以控制进入瑞典的移民潮。
牛津大学校长对英国大学每年9千英镑学费上限的可持续性提出质疑。
脸书宣布以190亿美元价格购买智能手机社交应用WhatsApp，这是脸书历来最大收购。
与英国展开第一轮谈判之后，欧盟首席谈判官表示，英国脱欧将会带来“实实在在”的后果。
美国总统特朗普宣布他已提名尼尔·戈萨奇（Neil Gorsuch）担任美国最高法院大法官。
中国电商巨头阿里巴巴起诉其淘宝平台上卖假货的两商家。两周前阿里巴巴曾再次被美国列入"恶名市场"的黑名单。
英国经济复苏提速，一项最新调查预测，到今年夏天可以恢复到2008年金融危机前最高水平。
一种全新致命病毒。迅速导致数以万计的人感染。医护人员束手无策。没有疫苗。
一名88岁的德国人受到起诉，被控参与第二次世界大战期间纳粹德军在法国制造的奥拉杜尔村大屠杀。
作为世界上最大的手机和电视生产商，三星电子发布了低于市场预期的第二季度利润预估。
一张金正恩试图模仿韩国人手势来展现两国友谊的照片感动了很多韩国人。
俄罗斯总统普京发表国情咨文，呼吁俄罗斯人相信自己，共同度过难关。
全世界近半数人口都不得不保持着社交距离的当下，我们当中很多人会找最喜欢的歌来安慰自己。这些歌陪着我们回忆，陪着我们伤心，甚至陪着我们在封锁令下仍可以在家中起舞。
星期二（7月22日）是英国王位第三顺位继承人——乔治小王子——的周岁生日。 王室周一晚上又公布两张小王子萌照，为乔治庆生。
当日本现任天皇的长孙女真子公主（Princess Mako）明年嫁给一家律所的雇员小室圭（Kei Komuro）的时候，她的生活将发生极大改变。
在突尼斯度假胜地苏塞周五发生枪击攻击造成38人死亡之后，多数为欧洲人的数千名游客已经结束旅游离开突尼斯。
捷豹路虎公司（Jaguar Land Rover）宣布，将在英国伯明翰制造F型跑车。
一名美国男子与女友在坦桑尼亚度假期间安排了一场水下求婚，结果该名男子溺水身亡。
华为（Huawei）创始人任正非接受BBC独家专访时表示，这个世界“离不开”华为，美国也“不可能扼杀掉”这家中国科技公司。
美国总统特朗普、英国工党领袖科尔宾与菲律宾总统杜特尔特，这三个人之间有什么共通点？
苏格兰歌手“苏珊大妈”苏珊波伊尔（Susan Boyle）透露，她被诊断患有亚斯伯格综合症(Asperger's Syndrome)。
中国警方打破一拐卖儿童的犯罪网络，逮捕301名犯罪嫌疑人并解救了92名被拐卖的儿童以及2名被拐妇女。
英国女王的一次私下聊天被录像曝光，其中提到中国国家主席习近平去年访英期间中国官员表现“非常粗鲁”。
《夺宝奇兵》系列电影主角哈里森·福特(Harrison Ford)说，他“绝对适合”重新扮演电影主人公“印第安纳·琼斯”（Indiana Jones）。
巴拿马法律服务公司莫萨克·冯赛卡（Mossack Fonseca）的一大批文件被泄漏，当中披露人们如何利用“避税天堂”隐藏巨额财富。
美国军方证实，两架美国战机星期四（9月18日）拦截了进入阿拉斯加附近美国防空识别区的六架俄罗斯空军军机，加拿大空军周四凌晨也在该国北极海岸附近拦截了两架俄罗斯远程战略轰炸机。
被称为今年全球最强热带气旋，最高持续风速达每小时314公里的的超强台风海燕在菲律宾中部登陆。
澳大利亚华裔记者成蕾，在被中国当局拘押数月之后，以向海外提供中国国家机密的罪名被正式逮捕。
谁都知道良好睡眠对健康的重要性。研究人员说，睡不好觉可以损害我们的健康、让我们情绪不佳，甚至还能减寿。
1982年，当时的英国首相撒切尔夫人访华，人们关注她在北京的焦点议题是香港前途问题。不过，英国政府刚解密的档案显示，她也为伦敦动物园请求中国赠送一头雌性大熊猫。
美国官员说，两列来往纽约的区间通勤列车在繁忙时间相撞，导致约60人受伤，其中五人伤势严重。
英国诺贝尔医学奖得主蒂姆·亨特爵士(Sir Tim Hunt)因说“女孩很麻烦”的言论，已经辞去在英国一所大学的名誉教授职位。
珍尼特·耶伦（Janet Yellen）获提名接任美国联邦储备局主席，她将会是首位女性担任这个职位。
英国国家审计局最新发表的报告显示，BBC英国广播公司在2010到2012年的3年间为150名高级管理人员离开BBC而支付了2500万英镑的遣散费。
BBC进行的一项调查发现，英国多家医疗诊所正在为女性提供有争议的“处女测试”或“贞洁测试”。
包括美国在内的12个环太平洋国家的贸易部长周四（4日）在新西兰的奥克兰举行跨太平洋伙伴关系协定（TPP，Trans-Pacific Partnership）。
U2乐队因主唱波诺（Bono）背部受伤而被迫取消格拉斯顿伯里音乐节（Glastonbury Festival）的演出，达蒙·阿尔伯恩（Damon Albarn）领衔的虚拟乐团“街头霸王”（Gorillaz）前来救场于下月登陆金字塔舞台。
新加坡总理李显龙（Lee Hsien Loong）接受BBC专访时表示，中美之间的冲突比五年前更可能发生。
英国科学家认为，如果全球气候升温3摄氏度，澳大利亚最近的大火将是新常态。
在接受BBC专访的时候，德国总理默克尔说，欧盟可能要考虑修改条约以留住英国。
当他的几只狗在土壤下嗅出一株珍贵的黑松露（black truffle）时，伍德先生（Nigel Wood）告诉我们说，对那些在狗身旁的人来说，这也是一个令人激动的时刻。 “那时候的气氛通常是热情、兴奋、期待和好奇，”他说。
在主要竞争者宣布失败后，有菲律宾版“特朗普“之称的罗德里戈·杜特蒂（Rodrigo Duterte）已经赢得2016年的菲律宾总统大选。
98岁的匈牙利纳粹犯罪嫌疑人拉斯洛·乔塔里在等待审判期间死去。
2018年诺贝尔和平奖周五（10月5日）揭晓，两名得主是反性暴力人士纳迪亚·穆拉德（Nadia Murad）和丹尼斯·穆克维格（Denis Mukwege）。
在联合国支持下设立的柬埔寨特别战争罪法庭判处两名前红色高棉领导人终身监禁。
你是否试过把一张小纸条放进瓶子里，扔进大海，然后琢磨着它在漂流后最终会被谁捡起？
土耳其官员说，近8000名土耳其警察已经被停职。据报他们的停职与周末发生的未遂政变有关。
德国一个右翼民粹政党党魁说，“如有必要”时警方应该向试图非法进入该国的移民开枪。
著名隐身艺术家班克西的一幅作品出现在Cheltenham的一户住家墙上后，建筑公司已经在房子周围搭起了手脚架。
10月下旬的一个繁忙的周一，北京市中心的幸福大街上出现了奇特的一幕。大约十多名穿着反光背心的行人排成一列，在人行道上缓慢前行。他们时而蹲下，时而弯腰转身，时而倾斜身体摆出怪异姿势。
瑞士日内瓦是非常昂贵的一个地方，也是有钱人才能负担的一个城市，这里有庞大的私人银行业务，还有联合国和多家国际组织与机构，专门拍卖高价艺术品和珠宝的苏富比（Sotheby's）佳士得（Christie's）拍卖行也在这里。
随着新冠病毒肆虐造成全世界数百万人感染，中国面临前所未有的挑战，有可能撼动其第一大世界工厂的地位。
英国广播公司BBC已经向伦敦政治经济学院（LSE）以及一名学生道歉，因为BBC暗访节目《广角镜》 （Panaroma）利用他们的名义作掩护去朝鲜拍摄节目。
几个月前，一名中国官员问我是否认为外国势力正助长香港的社会动荡。
德国警方表示，发生在德国慕尼黑一家购物中心的枪击案已经造成九人死亡，枪手开枪自杀。死伤者中包括儿童。
俄罗斯在5月9日举行二战胜利日庆典之前，新一代的重型主战坦克阿尔玛塔(Armata)T-14率先亮相。
在法国总统奥朗德被爆绯闻之后，他的正式女友特里耶维勒生病被送往医院。
根据联合国公布的最新“世界幸福指数报告”，挪威是世界上最幸福的地方，把邻国丹麦挤到了排名第二的位置。
英国就业市场状况继续改善，今年2-4月失业率降到6.6%，但工资上涨速度减缓。
特别注释版的阿道夫·希特勒《我的奋斗》的德国出版商透露，《我的奋斗》自一年前上市以来，销量数量激增。
英国政府决定推迟批准欣克利角核电站项目，引起震动。英国政府对此做出解释说，他们需要时间考虑有关这个项目的各方因素。但是人们认为，中国问题是导致重新评估项目的核心原因。
在上周的就职典礼上，特朗普总统将美国的使命从担当一个服务于全球共同利益、以制度为基础的体系的领导，转变为"美国第一"。与此同时中国共产党的领导人将其咄咄逼人的保护主义权力重新包装，改头换面为全球化和共同价值观的捍卫者。这个彻底颠倒的新世界开始一周以来，中国站到世界领导地位的努力进展如何？
在洛杉矶一家拍卖行，希特勒亲笔签名的两卷《我的奋斗》以64,850美元成交。
美国宣布对普京“核心圈”里的7名个人和17个相关公司实施制裁。白宫发言人说，此举是对“俄罗斯在乌克兰继续的非法干涉”的回应。
一项调查发现，将犀牛角私运出非洲的犯罪集团现今采取的方式是先将其加工成珠宝，以逃避机场的检查。
美国知名说唱歌手坎耶·韦斯特（Kanye West，另译肯伊·威斯特）又想要竞选美国总统了。
为了 让 公众更了解美国的 死刑 制度，美国摄影师杰姬 · 布莱克（Jackie Black ） 早些时候 重现了当地一些 囚犯 被处决前吃的最后晚餐。
中国诺贝尔和平奖得主、零八宪章起草人刘晓波在狱中服刑期间罹患晚期肝癌，已经办理保外就医，目前在沈阳中国医科大附属一院救治。
克里米亚举行投票决定是否脱离乌克兰重返俄罗斯，投票站口民调显示：约93%的投票支持克里米亚重返俄罗斯。
在英国等地出现新型冠状病毒新变种的紧急情况之后，纽约市对到访国际旅客实施新的隔离令。
德国官员说，在慕尼黑1400多件纳粹洗劫的艺术藏品中发现了一些大师的未被人知的作品。
负责英国国内安全事务的军情五处（MI5）首脑安德鲁•帕克警告说，数千在英国的伊斯兰极端分子把英国公众看作是袭击的合法目标。
谁都知道良好睡眠对健康的重要性。研究人员说，睡不好觉可以损害我们的健康、让我们情绪不佳，甚至还能减寿。
威利斯·吴（Willis Wu）并不是一名功夫高手。
美国前国家情报总监詹姆斯·克拉珀（James Clapper）周日（3月5日）对媒体表示，美国情报机构从未对特朗普及其竞选团队进行过窃听。
巴西宣布今年世界杯决赛期间将额外部署7万名警员，以增强安全措施。
同美国新选总统特朗普关系密切的英国独立党前领袖法拉吉（Nigel Farage)表示希望在英国同美国特朗普政府间发挥"桥梁"作用。
英国《新科学家》（New Scientist）周刊宣布，采用一种新的“3人共同生育”技术的首名婴儿已经诞生。
为期两天的二十国集团（G20）首脑峰会周六（11月15日）在澳大利亚布里斯班拉开帷幕。
上海学生早些时候获评为国际学生评估项目测试（PISA）全球第一，受到不少国家的批评。主办机构经济合作与发展组织（OECD）的教育专家安德里亚斯‧施莱歇尔教授（Andreas Schleicher）反驳说，西方国家人士批评中国学生在这项测试获得的成功就像耍赖的输家一样。
阿富汗南部传来的报道说，经过多天激战，在赫尔曼德省的桑金地区现在几乎完全被塔利班控制。
阿富汗塔利班领袖曼苏尔（Akhtar Mansour）早前在美国空袭中丧生，周三阿富汗塔利班宣布曼苏尔接班人的人选。
英国著名画家班克斯（Banksy，又译班克西）作品日前在拍卖会上以超过100万英镑的价格成交，然而画作却在成交后旋即“自毁”，震惊世人。事情发生后不久，班克斯发布一条视频，展示自己秘密将碎纸机安装在画作内部的过程。
德国总理默克尔提议，在欧洲建立一个通讯网络以提升欧洲国家的数据资料安全。
巴基斯坦法庭下令，当局必须释放一名被指在巴基斯坦杀害美国记者珀尔（Daniel Pearl ）的武装份子，因为他早前已经获判没有杀害这名记者。
一位知名俄罗斯议员日前建议世界杯期间本国女性不要与外国男性发生性关系，引发连番批评声。
英国议员警告说，英国必须打击网络诈骗、阻止政府支持的网络谍报，否则将被网络犯罪击败。
2012年伦敦夏季奥运会经过别开生面、充满创意的庆典后正式开始。
共乘代步召车公司优步（Uber）表示，将会就公司内的性骚扰指控展开“紧急调查”。
美国联邦调查部门透露，在俄勒冈州校园枪击案中射杀9人的枪手私藏有13件武器。
因新冠疫情被困海外，又面临中美紧张局势，在美国的中国留学生进退维谷。国际局势与个人前程的剧变正重新塑造他们对家乡以及异乡的看法。
世界反禁药组织机构（WADA）谴责俄罗斯黑客泄露美国奥运运动员的机密医疗档案。
美国总统特朗普称，他希望美国能在复活节前摆脱新型冠状病毒的困扰。与此同时，纽约州长安德鲁·库莫（Andrew Cuomo）警告新型冠状病毒在该州的传播速度比“子弹列车”还快。
在维基解密（Wikileaks）周二（3月7日）公开的数千份文件曝光了有关美国中央情报局（CIA）黑客入侵工具的细节。
最新数据显示，今年6至8月英国失业人数跌至250万以下。
尼泊尔旅游部门证实，世界知名瑞士登山家乌里·斯特克（Ueli Steck）在珠穆朗玛峰山腰为新一轮攀登进行适应训练时坠亡，终年40岁。
英国王室公布了一张乔治王子的照片，纪念小王子的一岁生日。
美国加州SpaceX公司原定周二发射无人驾驶商业货运火箭上国际空间站，但是在最后时刻决定推迟起飞时间到星期五，暂时还没有公布原因。
马来西亚交通部长廖中莱对BBC表示，他相信失事的马来西亚航空公司MH370客机，会在南太平洋被找到。
中国手机制造商小米说其税前营业额2014年同比增长一倍多。此前，小米手机被冠为世界最具价值的科技创业。
显然是为了安抚华盛顿，中国正在急忙通过《外商投资法》，因为谈判代表试图将这两个世界最大的经济强国从贸易大战中拉出战场。但这会有效吗？BBC驻华记者麦笛文 （Stephen McDonell）为您分析。
澳大利亚政府预计将基于国家安全理由，禁止中国电信企业华为（Huawei）参与该国的5G网络建设竞标，华为对此反驳，指澳方对该公司的指控“没有事实根据”。
65岁怀孕……而且还是四胞胎？这并不是天方夜谭。德国的安妮格列特·劳尼格(Annegret Raunig)成了全世界年龄最大的四胞胎准妈妈。
英国健康部门的报告说，由于空气污染每年所造成的早亡人数大约为四万人。
英国著名科学家霍金警告，人类一手造成的一系列东西可能给自身的生存带来威胁。
澳大利亚最富有的女人和一家中国地产公司试图联合收购澳洲最大的畜牧公司基德曼（S. Kidman & Co.），但还需要澳洲政府批准。此前的两起涉及中国公司的收购案都被澳洲政府否决。
西藏流亡精神领袖达赖喇嘛与近60年前护送他抵达印度的边境警卫再次相见，情绪激动。
据英国政府公布的最新数字，截至2012年底，英国净移民人数有所增加。
英国官方数字显示，10月份的年度通货膨胀率为1.3%，高于前一个月的1.2%。
法国工人和推土机开进了加莱市（Calais）附近名为“丛林”的简陋难民营地，开始拆除数百座临时搭建的棚屋，期间防暴警察和难民爆发了冲突。
一名英国洞穴潜水员近日对科技界富豪、特斯拉创始人伊隆·马斯克（Elon Musk）提起诉讼，指马斯克恶意诽谤。
美国网企雅虎宣布将剥离手上15%中国电子商务巨头阿里巴巴股份至一家独立公司，并向雅虎股东分派新公司股份，变相让雅虎股东个别持有阿里巴巴股份。
在英国工作的东亚裔演员说，英国电影、电视及剧场界在选角时，对他们仍存有严重的偏见，东亚裔演员被视为“看不见的小众”。
苹果公司说，由于俄罗斯货币卢布跌幅过大他们不能再继续进行在俄罗斯的网上销售业务。
韩国政府在26日晚间向北京通报，加入由中国主导的亚洲基础设施投资银行(亚投行，AIIB)，将成为亚投行体系的创始会员国，亚投行将是韩国第一个自草创期间就开始参与的国际金融组织。
意大利一名男子与妻子吵架之后走出家门试图冷静情绪，结果却独自步行了450公里。
有安全机构发出警告，指有俄罗斯间谍正以英国、美国和加拿大等国的新型冠状病毒疫苗机构为目标进行情报工作。
专家指出，如果人们保持健康的生活方式，就有超过四成的癌症病例可以避免，在英国这相当于60万个癌症病例。
绝经是指女性的月经停止，她们不能再自然怀孕，但身体的变化还会继续，又是为什么？
印尼政府已经发出了针对巴厘岛火山喷发的最高级别警报，称火山喷发正在逼近这一旅游景点。
中国11月制造业活动放缓幅度高于预期，凸显出经济增长冷却为中国制造商带来的负面影响。
奥地利警方说，本月初以来，德国每天将更多的移民送返奥地利。
美国国家过敏和传染病研究所所长安东尼‧福西（Anthony Fauci）近日遭美国白宫发声批评，指他就新冠肺炎严重性及是否应该遮掩脸部提供了不一致的意见，他形容特朗普政府如此做法“荒诞”，有关说法是“胡言乱语”。
英国英格兰、威尔士和北爱尔兰的大约60万名中学生星期四（8月22日）陆续收到了GCSE普通中等教育证书考试成绩。
星期二（7月22日）是英国王位第三顺位继承人——乔治小王子——的周岁生日。 王室周一晚上又公布两张小王子萌照，为乔治庆生。
英国教育大臣迈克·高夫星期日（10日）宣布修改英国教学大纲，包括汉语在内的外语，将成为英国小学生从三年级开始的必修课。
韩国公开曝光了一批影像，并声称是首次发现有关二战期间“慰安妇”被日军强迫充当性奴的影像记录。
以手机app为主要平台的打车服务公司优步（Uber）进军中国遭遇“凶猛对手”，去年在中国亏损超过10亿美元。
美联储主席珍妮特•耶伦（Janet L. Yellen）称，美国本月加息可能是恰当的。
在2019英国大选的最后关头，一张照片将英国全民医疗保健系统（NHS）推上了风口浪尖，也为现任首相约翰逊（Boris Johnson）的竞选之路带来了艰难的一天。
澳大利亚监听印尼官员的事件曝光后，印尼宣布停止与澳大利亚的军事合作。
英国经济复苏提速，一项最新调查预测，到今年夏天可以恢复到2008年金融危机前最高水平。
英国政府消息人士证实说，将有大约600名曾为驻阿英军工作的阿富汗翻译获得在英居住权。
万圣节（Halloween）要来了，全世界的人都在预订自己的服装，为这个年度狂欢节日做准备。
欧元区财政官员已经表示，在本周日（7月5日）希腊进行公投之前，不会再就新一轮财政援助展开谈判.
最新一项研究指出，全球正面临气候危机。超过11000名科学家认可这项研究。
谷歌员工全球串联在世界各地办公室展开一系列的“集体出走”活动，抗议该公司对女性的不当对待。
一大批泄露出来的文件，披露了权贵们如何利用避税天堂来隐藏自己的财富。
苹果公司2017年头三个月售出5080万支iPhone，销售量较去年同期相比下跌1%。
网络零销商亚马逊首次在英国完成一项无人机送货服务。
考古学家和官员对伊斯兰国（IS）夷平伊拉克亚述古城尼姆鲁德（Nimrud）的行径表示极为愤慨。
英国广播公司BBC总裁霍尔表示，他将在内部努力减少官僚主义并激发创造力。
韩国一名国会议员称，两年前于意大利失踪的朝鲜大使已经叛逃，目前正身在韩国。
美国国务卿希拉里·克林顿星期一（3日）呼吁东南亚国家在解决南海主权问题上对中国采取一致立场。 她还要求这些国家与中国在11月前就解决南海问题取得实质进展。
中国通讯科技公司华为向英国国会议员致函透露，将预留20亿美元，处理英国政府提出的安全问题，预计需时3至5年。这次华为提出的改善方案，是回应英国政府去年的要求。
已故摇滚天王迈克尔·杰克逊（麦可·杰克森）的女儿帕丽斯，因“意图自杀”送医治疗。
欧盟普通法院宣布欧盟把哈巴勒斯坦伊斯兰组织马斯列入恐怖名单的决定无效。
英国女作家JK罗琳说，当她发现她在新书中所使用的笔名是被一家律师事务所泄漏之后感到“非常愤怒”。
欧盟财长们已同意向遭受新冠病毒大流行打击的欧洲国家提供5000亿欧元（4400亿英镑； 5460亿美元）的救助。
文莱宣布撤回了上个月实施的法律，该法律宣示男性之间的性行为和通奸行为可以石刑处死。
缅甸军方发动政变并扣留昂山素季（又译：翁山苏姬，Aung San Suu Kyi）已经过去三天。
美国纽约市长警告，当地新型冠状病毒疫情将进一步恶化，主要医疗用品出现短缺。
为了平息近日在全国各地举行的反政府示威浪潮，巴西总统罗塞夫宣布了一系列改革措施。
由于三星智能手机的销售量放缓，三星电子的季度营业利润跌至三年多以来的最低水平。
2022年世界杯足球赛的组织者说，他们对有关媒体报道中卡塔尔移民工人状况感到“震惊”。
在英国保守党周一（10月8号）召开的年会上，财相奥斯本（George Osborne）宣布到2016-2017年政府将会削减价值100亿英镑的福利补贴。
英国首相卡梅伦表示，应该授予反恐部门新的权力，收缴恐怖主义嫌疑人的护照，阻止成为圣战组织成员的英国公民回国。
五名中国军方人员被美国司法部以网路间谍罪名起诉，他们被指侵入美国私营企业的电脑网路。
牛津大学的阿什莫林博物馆宣布，接受中国艺术研究学者萨利文教授遗留下来的中国艺术品捐赠。
据德国媒体报道，德国内政部长德迈齐埃将提出一系列的反恐措施，包括取缔被称为“波卡”的穆斯林女性传统服饰罩袍。
最新一项研究指出，全球正面临气候危机。超过11000名科学家认可这项研究。
BBC得悉，英国最大银行——汇丰银行（HSBC）——协助富户向英国政府瞒税，金额达上亿英镑。
涉嫌电话窃听的丽贝卡·布鲁克斯（Rebekah Brooks）和安迪·库尔森（Andy Coulson）等前新闻集团员工将出庭受审。
乍眼一看，这有点像是低成本科幻电影的标题，但对于行星学家来说，“温室地球”是一个非常严肃的理论。
重庆一名律师用手语发布警告庞氏骗局风险的视频，这段视频走红中国社交网络。数百名聋哑人士前来向他咨询法律问题，从欺诈到家庭暴力，他唤起了人们对于庞大失聪群体的关注。
中国宣布下令香港暂停与英国、加拿大和澳大利亚之间的刑事司法互助与引渡条约，以报复三国此前宣布暂停对港引渡条约。
法国官员说，法国政府将从下周一（10月24日）清晨开始拆除位于加莱港的“丛林”难民营。
英国一家育儿网站和加拿大税务当局宣布，由黑客利用Heartbleed安全漏洞盗窃了用户资料。
一周多前获特赦的俄国前石油大亨霍多尔科夫斯基周一（12月30日）获得瑞士签发的3个月签证。
美国德克萨斯州州长阿博特（Greg Abbott）宣布，德州下周将解除口罩令，允许企业全面重开。共和党人阿博特称：“现在是时候完全开放德州了。”
美国国家美式橄榄球联盟（NFL）多名球员在周末的比赛当中参与了席卷体育界的抗议行动，反对美国总统特朗普（Donald Trump）“冒犯性”和“分裂”的言论。
美国知名唱作人鲍勃•迪伦（Bob Dylan）获瑞典学院颁发诺贝尔文学奖多月后，终于到斯特哥尔摩领领取相当于83万多欧元的奖金。
美国总统特朗普最近公开指称新冠病毒起源于中国实验室，但美国的一些亲密盟友则更谨慎地处理这种说法。
一名癌症患者在中国跨省边境的检查站被困，她母亲流泪的照片传遍全球。 但是，在这之前和之后发生了什么？
美国总统特朗普的女儿兼顾问伊万卡（Ivanka Trump）在东京举行的一次峰会上说，对于女性的性骚扰"决不能被忍受"。
日本儿童文学作家角野荣子所创造的少女女巫“琪琪”与她的爱猫吉吉，多年来滋养着无数日本读者，更为她带来了全球儿童文学的最高荣誉。
科学家们说，普遍使用剖腹产将影响到人类的进化。
美国和英国政府因为担心安全威胁，已将驻也门外交人员撤走，并再次敦促两国公民立即离开该国。
世界第二大智能手机制造商华为再遇新的麻烦：谷歌（Google）表示将会禁止华为使用谷歌旗下基于安卓操作系统开发的手机软件。
新西兰政府拒绝让该国的移动网络使用中国通讯巨头企业华为（Huawei）制造的5G设备后，在英国的华为业务也受到媒体关注。
著名美国男性成人杂志《花花公子》（Playboy）决定停止刊登裸体女人的形象，因为互联网已经让裸体形象过时。
欧元周五（2日）跌至自2010年中旬以来最低，据信是因为欧洲央行行长德拉吉的有关评论。
当他的几只狗在土壤下嗅出一株珍贵的黑松露（black truffle）时，伍德先生（Nigel Wood）告诉我们说，对那些在狗身旁的人来说，这也是一个令人激动的时刻。 “那时候的气氛通常是热情、兴奋、期待和好奇，”他说。
开发游戏精灵宝可梦Go（Pokemon Go）的公司Niantic宣布，计划在中国发行这一款抓精灵游戏。
